{% load split_tags verbose_tags %}

{% for groupe in object.groupe|split:',' %}
    {% if groupe in user_groupes %}
        <span class="badge badge-light float-right contenu-reserve" data-toggle="tooltip" title="Contenu réservé aux utilisateurs du groupe "> {{ groupe|verbose_groupe }} </span>
    {% endif %}
{% endfor %}
{% for role in object.role|split:',' %}
    {% if role in user_roles %}
        <span class="badge badge-light float-right contenu-reserve" data-toggle="tooltip" title="Contenu réservé aux utilisateurs ayant la rôle de"> {{ role|verbose_role }} </span>
    {% endif %}
{% endfor %}
{% for departement in object.departements.all %}
    <span class="badge badge-light float-right contenu-reserve" data-toggle="tooltip" title="Contenu réservé au département"> {{ departement.name }} </span>
{% endfor %}