<h1>{{ page.title }}</h1>

{{ page.get_content_html }}

{% for note in notes %}
        <h2 class="title-note">Note {{ forloop.counter }} - {{ note.title }}</h2>
        {{ note.get_content_html }}
{% endfor %}