{% extends "account/base.html" %}


{% load i18n %}

{% block head_title %}Changer de mot de passe{% endblock %}
{% block page_title %}
    <h1>Changer de mot de passe</h1>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

    {% if request.session.date_limite_password %}
    <div class="alert alert-danger">Pour des raisons de sécurité votre mot de passe doit être changé avant le {{ request.session.date_limite_password }}</div>
    {% endif %}
<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit" name="action">Changer mon mot de passe maintenant</button>
</form>
{% endblock %}
