{% extends "base.html" %}


{% load static %}

{% block head_title %}Constitution du dossier en 2 étapes{% endblock %}
{% block page_title %}
    <h1> Constitution du dossier en 2 étapes...</h1>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            <h2>
                <small>Étape 1</small>
                <br/> <i class="carto"></i>Cartographie du parcours
            </h2>
            <p>Veuillez réaliser la (ou les) cartographie(s) de parcours de votre manifestation.<br/>
                Une fois créées, vos cartographies de parcours seront disponibles dans votre formulaire afin de les lier à votre
                demande.<br/>
                NB : cette plateforme n'est pas liée à OpenRunner. <i class="ctx-help-lien_openrunner fas fa-info-circle"></i>
            </p>
            <a href="{% url 'carto:route_create' role="organizer" %}" class="btn btn-primary" role="button" target='_blank'>
                <i class="carto"></i> Créer un parcours
            </a>
        </div>

        <div class="col-md-6">
            <h2>
                <small>Étape 2</small>
                <br/> <i class="dossier"></i>Formulaire
            </h2>
            <p>Nous allons vous posez quelques questions afin de personnaliser votre formulaire (un nouvel onglet du navigateur va s'ouvrir...)<br/>
                Puis, vous n'aurez plus qu'à saisir les renseignements demandés et joindre les documents nécessaires.</p>
            <a href="{% url 'events:manifestation_choose' %}?dept={{ request.GET.dept }}" class="btn btn-primary"
               role="button">
                <i class="dossier"></i> Remplir le formulaire
            </a>
        </div>
    </div>


{% endblock %}
