{% extends "base.html" %}


{% load i18n %}

{% block head_title %}
    Tableau de bord
{% endblock %}

{% block page_title %}
    <h1><i class="tableau-de-bord left-margin"></i> Tableau de bord</h1>
{% endblock %}

{% block content %}
    {% if request.user.organisateur.structure %}
        <div class="row">
        {% comment %}
        <div class="col-sm-12">
            <a href="{% url 'events:manifestation_start_choose' %}" class="btn btn-primary" role="button">
                <i class="ajouter"></i> Déclarer une nouvelle manifestation
            </a>
        </div>
        {% endcomment %}
        <div class="col-sm-6">
            <h3><i class="dossier"></i> Mes manifestations   <i class="ctx-help-mes_manifestations fas fa-info-circle"></i></h3>
            <div class="card ">
                <div class="list-group">
                    {% for manifestation in object_list %}
                        {% if manifestation.motorizedconcentration %}
                            <a href="{% url 'events:motorizedconcentration_detail' manifestation.id %}" class="list-group-item list-group-item-action
                                {% if manifestation.motorizedconcentration.manifestationautorisation or manifestation.motorizedconcentration.manifestationdeclaration%}
                                    list-group-item-success
                                {% else %}
                                    list-group-item-danger
                                {% endif %}">
                                {{ manifestation.begin_date|date:"d/m/Y" }} : {{ manifestation }}<br>
                                <small>↦ {{ manifestation.departure_city }}</small>
                            </a>
                        {% elif manifestation.motorizedevent %}
                            <a href="{% url 'events:motorizedevent_detail' manifestation.id %}" class="list-group-item list-group-item-action
                                {% if manifestation.motorizedevent.manifestationautorisation %}
                                    list-group-item-success
                                {% else %}
                                    list-group-item-danger
                                {% endif %}">
                                {{ manifestation.begin_date|date:"d/m/Y" }} : {{ manifestation }}<br>
                                <small>↦ {{ manifestation.departure_city }}</small>
                            </a>
                        {% elif manifestation.motorizedrace %}
                            <a href="{% url 'events:motorizedrace_detail' manifestation.id %}" class="list-group-item list-group-item-action
                                {% if manifestation.motorizedrace.manifestationautorisation %}
                                    list-group-item-success
                                {% else %}
                                    list-group-item-danger
                                {% endif %}">
                                {{ manifestation.begin_date|date:"d/m/Y" }} : {{ manifestation }}<br>
                                <small>↦ {{ manifestation.departure_city }}</small>
                            </a>
                        {% elif manifestation.declarationnm %}
                            <a href="{% url 'events:declarationnm_detail' manifestation.id %}" class="list-group-item list-group-item-action
                                {% if manifestation.declarationnm.manifestationdeclaration %}
                                    list-group-item-success
                                {% else %}
                                    list-group-item-danger
                                {% endif %}">
                                {{ manifestation.begin_date|date:"d/m/Y" }} : {{ manifestation }}<br>
                                <small>↦ {{ manifestation.departure_city }}</small>
                            </a>
                        {% elif manifestation.autorisationnm %}
                            <a href="{% url 'events:autorisationnm_detail' manifestation.id %}" class="list-group-item list-group-item-action
                                {% if manifestation.autorisationnm.manifestationautorisation %}
                                    list-group-item-success
                                {% else %}
                                    list-group-item-danger
                                {% endif %}">
                                {{ manifestation.begin_date|date:"d/m/Y" }} : {{ manifestation }}<br>
                                <small>↦ {{ manifestation.departure_city }}</small>
                            </a>
                        {% endif %}
                    {% empty %}
                        <a href="#" class="list-group-item disabled">Aucune manifestation déclarée pour le moment</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            {% include "notifications/actions_list.html" %}
            {% include "notifications/notifications_list.html" %}
        </div>
        </div>
    {% else %}
        <div class="well">
            <p>Dans un premier temps, veuillez renseigner les informations relatives à la structure organisatrice de la manifestation sportive</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'events:structure_add' %}" class="btn btn-primary" role="button">
                    Accéder au formulaire de renseignement sur la structure organisatrice
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}
