{% extends "events/event_detail.html" %}

{% load i18n %}

{% block head_title %}Manifestation sans Véhicules Terrestres à Moteur Soumise à Déclaration{% endblock %}

{% block counter %}
    {% if not object.manifestationdeclaration.id %}
        {% include 'events/counter.html' %}
    {% endif %}
{% endblock %}

{% block related_processes %}
    {% if not object.manifestationdeclaration.id %}
        {% if object.ready_for_instruction %}
            <div class="card">
                <div class="card-header bg-primary">
                    <i class="action-requise"></i>Actions requises
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{% url 'declarations:declaration_add' manifestation_pk=object.id %}" class="btn" role="button">
                            <i class="envoyer"></i> Envoyer la demande de déclaration de la manifestation
                            <i class="declaration left-margin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="card">
                <div class="card-header bg-primary">
                    <i class="action-requise-blanc"></i>Des pièces manquent au dossier
                </div>
                <div class="card-body">
                    <p>Une fois ces pièces jointes au dossier, vous serez en mesure d'envoyer votre déclaration</p>
                    <p>Veuillez trouver ci-dessous la liste des pièces manquantes</p>
                </div>
                <ul class="list-group">
                    {% include 'events/missing_documents.html' %}
                </ul>
            </div>
        {% endif %}
    {% else %}
        <div class="card panel-success">
            <div class="card-header">
                Rien à faire
            </div>
            <div class="card-body">
                <p></p>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block end_of_process %}
    {%  if object.manifestationdeclaration.id %}
            {% if object.manifestationdeclaration.state == 'published' and object.manifestationdeclaration.receipt %}
                <div class="card">
                    <div class="card-header bg-primary">
                        Le récépissé de déclaration a été publié
                    </div>
                    <div class="card-body">
                        <p>Vous pouvez le télécharger en cliquant sur le lien ci-dessous</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{{ object.manifestationdeclaration.receipt.url }}" target='_blank'>
                        <i class="farfa -certificate" title="récépissé"></i> Récépissé de déclaration</a></li>
                    </ul>
                </div>

        {% endif %}
    {% endif %}
{% endblock %}
