{% load i18n %}

{% if user.organisateur %}
    <div class="text-center pt-3 pb-5">
        <p>
            Veuillez importer ou dessiner le (ou les) tracé(s) de parcours de votre manifestation avec l'outil de
            cartographie.<br>
            Une fois créées, elles seront disponibles dans le formulaire ci-après.
        </p>
    <a class="btn btn-info btn-lg" href="/carto/route/create/organizer/" target="_blank"><i class="outil_carto"></i> Ouvrir l'outil de cartographie de parcours</a>
</div>
{% endif %}

<div class="card-header">
        <i class="carto"></i> Parcours associés à cette manifestation
    </div>

<div id="carto_description_div">


    <ul class="list-group mb-3">
        {% if not object.en_cours_instruction %}
            <button style="width: 150px; margin: 0.5em 1em 0.5em auto;" href="#" id="carto_update_go"
               class="btn btn-primary carto_update" role="button"><i class="editer"></i> Modifier</button>
        {% endif %}
        {% if object.parcours_openrunner %}
            {% for route_id, route_name in object.get_parcours_manif.items %}
                {% if not route_id == 'erreur' %}
                    <li class="list-group-item">
                        {% if user.organisateur %}
                            {% if request.resolver_match.namespace == "evenements" %}
                                <a href="{% url 'carto:route_view' route_ids=route_id role='organizer' %}"
                                   target="_blank"><i class="outil_carto"></i> {{ route_name }}</a>
                            {% endif %}
                        {% endif %}
                        {% if user.instructeur or user.agent or user.agentlocal %}
                            {% if request.resolver_match.namespace == "instructions" or request.resolver_match.namespace == "agreements" or request.resolver_match.namespace == "sub_agreements" %}
                                <a href="{% url 'carto:route_instructor' route_ids=route_id role='instructor' %}"
                                   target="_blank"><i class="outil_carto"></i> {{ route_name }}</a>
                            {% endif %}
                        {% endif %}
                    </li>
                {% else %}
                    <li class="list-group-item">
                        <span style="color: red;">{{ route_name }}</span>
                    </li>
                {% endif %}
            {% endfor %}
            {% if user.instructeur or user.agent or user.agentlocal %}
            {% if object.get_parcours_manif|length > 1 %}
                <li class="list-group-item"><a href="{% url 'carto:route_instructor' route_ids=object.get_parcours_manif_str role='instructor' %}"
                                   target='_blank' class="btn btn-warning"><i class="carto"></i>
                    Afficher <strong>toutes</strong> les cartographies de parcours</a></li>
                {% endif %}
                {% endif %}
        {% else %}
            <li class="list-group-item">
                <strong>Pas de parcours cartographie de parcours pour cette manifestation.</strong><br>
                Cliquez sur le bouton [ Modifier ] pour basculer en mode d'édition.
            </li>
        {% endif %}
        <li class="list-group-item"> Description des parcours : {{ object.descriptions_parcours|linebreaksbr }}</li>
    </ul>
    {% if not user.organisateur or user.instructeur %}
        {% if object.get_manifs_meme_jour_meme_ville %}
            <div class="card-header">
                <i class="attention"></i> Possibles conflits de parcours avec d'autres manifestations
            </div>
            <ul class="list-group mb-3">
                <li class="list-group-item">
                    <div class="alert alert-warning">
                        {% with conflit=object.get_manifs_en_conflit_avec_OR %}
                            {% if conflit %}
                                <p>Un risque de conflit est identifié avec la (ou les) manifestation(s) suivantes :</p>
                                <ul>
                                    {% for manifestation in conflit %}
                                        <li><strong>{{ manifestation }}</strong>
                                            {% if manifestation.instruction %}
                                                <a href="{{ manifestation.instruction.get_absolute_url }}" target='_blank'>
                                                    (accès au dossier)</a>
                                            {% else %}
                                                <span>(dossier pas encore envoyé)</span>
                                            {% endif %}
                                            <br>organisée par <em>{{ manifestation.structure }}</em>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <a href="{% url 'carto:route_instructor' route_ids=object.get_str_ids_parcours_en_conflit role='instructor' %}"
                                   target='_blank' class="btn btn-warning"><i class="carto"></i>
                                    Afficher leurs cartographies de parcours</a>
                            {% endif %}
                        {% endwith %}
                        {% with conflit=object.get_manifs_en_conflit_sans_OR %}
                            {% if conflit %}
                                <hr>
                                <p>Un risque de conflit est identifié avec la (ou les) manifestation(s) suivantes
                                    <u>qui n'ont pas de cartographie de parcours</u> : </p>
                                <ul>
                                    {% for manifestation in conflit %}
                                        <li><strong>{{ manifestation }}</strong>
                                            {% if manifestation.instruction %}
                                                <a href="{{ manifestation.instruction.get_absolute_url }}" target='_blank'>
                                                    (accès au dossier)</a>
                                            {% else %}
                                                <span>(dossier pas encore envoyé)</span>
                                            {% endif %}
                                            <br>organisée par <em>{{ manifestation.structure }}</em>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endif %}
</div>

<div id="carto_update_div" style="padding: 1em;"></div>

<script>
    url_carto_update = "{% url 'evenements:manif_carto' pk=object.pk %}";

    $('#carto_update_go').on('click', function (e) {
        e.preventDefault();
        $.get(url_carto_update, function (response) {
            $('#carto_update_div').html(response)
            $('#carto_description_div').hide()
        })
    })
    $('body').on('click', '#carto_annul', function (e) {
        e.preventDefault()
        $('#carto_update_div').empty()
        $('#carto_description_div').show()
    })


</script>
