{% load i18n file_tags thumbail_filter %}

{% if  request.user.instructeur or  request.user.agent or request.user.agentlocal %}
    <ul class="list-group">
        {% for data in object.documentscomplementaires.all %}
            <li class="list-group-item" style="margin-bottom: 1em;">
                Demande :
                <blockquote>
                    {% if data.document_attache %}
                        <i class="ok "></i>
                    {% else %}
                        <i class="attention "></i>
                    {% endif %}
                    {{ data.information_requise|linebreaks }}
                </blockquote>
                {% if data.document_attache %}
                    Réponse : <a href="{{ data.document_attache.url }}" target="_blank">{{ data.document_attache|basename }}</a>&nbsp;&nbsp;
                    <span data-toggle="tooltip" data-placement="auto" data-html="true" class="badge badge-info"
                          title="<img src='{{ data.document_attache|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
                    </span>
                {% else %}
                    Pas de réponse pour le moment
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if  request.user.organisateur %}
    <div class="doc-comple"></div>
{% endif %}