{% load i18n %}
<li class="nav-item"><a class="nav-link" href="#descriptioncarto" data-toggle="tab">
        <i class="carto"></i>Cartographie</a></li>
{% if object.rnrevaluations or object.rnrevaluation %}
    <li class="nav-item"><a class="nav-link" href="#rnr" data-toggle="tab">
        <i class="feuille"></i>EI simplifée RNR</a></li>
{% endif %}
{% if object.natura2000evaluations or object.n2kevaluation %}
    <li class="nav-item">
        <a class="nav-link" href="#natura2000" data-toggle="tab">
            <i class="feuille"></i>EI simplifiée Natura 2000
            {% if object.natura2000evaluations and not object.natura2000evaluations.natura_2000_conclusion or object.n2kevaluation and not object.n2kevaluation.conclusion_natura_2000 %}
                &nbsp;<i class="action-requise"></i>
            {% endif %}
        </a>
    </li>
{% endif %}
{% if  request.user.organisateur and not 'instruction' in request.path  %}
    <li class="nav-item" id="pieceajoindreajax"><a class="nav-link" href="#pieceajoindre" data-toggle="tab">
        <i class="doc"></i>Pièces jointes</a></li>
{% else %}
    {% if 'instruction' in request.path %}
    <li class="nav-item"><a class="nav-link" href="#piecejointe" data-toggle="tab">
        <i class="doc"></i>Pièces jointes</a></li>
    {% endif %}
{% endif %}
{% if object.documentscomplementaires.count > 0 %}
    <li class="nav-item" id="doccomple"><a class="nav-link" href="#additionaldata" data-toggle="tab">
        <i class="info-compl"></i>Informations complémentaires ({{object.documentscomplementaires.count}})</a></li>
{% endif %}
{% if object.instruction.documents.count > 0 %}
    <li class="nav-item"><a class="nav-link" href="#officialdata" data-toggle="tab">
        <i class="arrete"></i> Documents officiels ({{object.instruction.documents.count}})</a></li>
{% endif %}
{% if request.user.instructeur or request.user.agent or request.user.agentlocal %}
    {% if object.actions.count > 0 or object.notifications.count > 0 %}
        <li class="nav-item"><a class="nav-link" href="#historiquedata" data-toggle="tab">
            <i class="historique"></i> Historique</a></li>
    {% endif %}
{% endif %}
