<div class="row">
    <div class="col-6">
        <h2>Pictos généraux</h2>
        <i class="utilisateur"></i> Utilisateur<br>
        <i class="organisateur"></i> Organisateur<br>
        <i class="instructeur"></i> Instructeur<br>
        <i class="agent-departemental"></i> Agent départemental<br>
        <i class="agent-local"></i> Agent local<br>
        <i class="structure"></i> Structure<br>
        <i class="password"></i> Mot de passe<br>
        <i class="tableau-de-bord"></i> Tableau de bord<br>
        <i class="aide"></i> Documentation, aide et info<br>
        <i class="aide-contextuelle"></i> Aide contextuelle<br>
        <i class="nouveaute"></i> Nouveauté<br>
        <i class="historique"></i> Historique<br>
        <i class="statistiques"></i> Statistiques<br>
        <i class="suivi"></i> Suivi de l'instruction<br>
        <i class="lien"></i> Lien hypertexte<br>
        <i class="spinner"></i> Opération en cours<br>
        <br>
        <h2>Pictos liés aux éléments des dossiers</h2>
        <i class="dossier"></i> Dossier de manifestation<br>
        <i class="dossier-annexe"></i> Documents joints<br>
        <i class="declaration"></i> Dossier de déclaration<br>
        <i class="autorisation"></i> Dossier d'autorisation<br>
        <i class="detail"></i> Détail de la manifestation<br>
        <i class="feuille"></i> Annexe RNR et N2K<br>
        <i class="doc"></i> Pièces à joindre<br>
        <i class="info-compl"></i> Information complémentaire<br>
        <i class="archive"></i> Dossier archivé / Archives<br>
        <i class="avis"></i> Avis<br>
        <i class="preavis"></i> Pré avis<br>
        <i class="arrete"></i> Arrêté<br>
        <i class="recepisse"></i> Récépissé<br>
        <i class="message"></i> Message<br>
        <i class="date"></i> Date<br>
        <i class="carto"></i> Cartographie<br>
        <i class="ville"></i> Commune<br>
        <i class="activite"></i> Activité / sport<br>
        <i class="telephone"></i> Téléphone / Contact<br>
        <i class="euro"></i> Budget<br>
        <i class="lieu"></i> Lieu / commune<br>
        <br>
        <h2>Pictos liés aux actions de l'utilisateur</h2>
        <i class="sincrire"></i> S'inscrire<br>
        <i class="connecter"></i> Se connecter<br>
        <i class="deconnecter"></i> Se déconnecter<br>
        <i class="retour"></i> Retour<br>
        <i class="action"></i> Action<br>
        <i class="action-requise"></i> Action requise<br>
        <i class="ajouter"></i> Demander / Ajouter / Créer<br>
        <i class="a-completer"></i> Champ à compléter<br>
        <i class="editer"></i> Éditer / Modifier / Mettre en forme<br>
        <i class="envoyer"></i> Envoyer / Informer<br>
        <i class="notifier"></i> Notifier<br>
        <i class="valider"></i> Valider<br>
        <i class="supprimer"></i> Supprimer<br>
        <i class="annuler"></i> Annuler<br>
        <i class="dupliquer"></i> Dupliquer<br>
        <i class="configurer"></i> Configurer<br>
        <i class="deplier"></i> Déplier / afficher le contenu<br>
        <i class="haut-de-page"></i> Remonter au haut de page<br>

    </div>
    <div class="col-6">
        <h2>Pictos liés aux caratéristiques des dossiers</h2>
        <i class="vtm mr-1"></i> Avec véhicule terrestre à moteur<br>
        <i class="sans-vtm mr-1"></i> Sans véhicule terrestre à moteur<br><br>
        <i class="competition mr-1"></i> Avec compétition<br>
        <i class="sans-competition mr-1"></i> Sans compétition<br><br>
        <i class="voie-publique mr-1"></i> Sur voie publique<br>
        <i class="hors-voie-publique mr-1"></i> Hors voie publique<br><br>
        <i class="circuit-homologue mr-1"></i> Circuit homologué<br>
        <i class="circuit-non-homologue mr-1"></i> Circuit non homologué<br><br>
        <i class="circuit-non-perm mr-1"></i> Circuit non permanent<br>
        <i class="nombreux-participants mr-1"></i> Nombreux participants<br>
        <i class="cyclisme mr-1"></i> Discipline cyclisme<br>
        <br>
        <h2>Pictos liés aux états des dossiers</h2>
        <i class="demandee"></i> Demande envoyée par l'organisateur<br>
        <i class="distribuee"></i> Demandes d'avis envoyées par l'instructeur<br>
        <i class="autorisee"></i> Manifestation autorisée<br>
        <i class="interdite"></i> Manifestation interdite<br>
        <i class="annulee"></i> Manifestation annulée<br>
        <br>
        <h2>Pictos liés aux états des éléments</h2>
        <i class="attente"></i> En attente de réponse<br>
        <i class="ok"></i> Réponse favorable<br>
        <i class="pas-ok"></i> Réponse non favorable<br>
        <i class="commentaire"></i> Présence de prescriptions<br>
        <br>
        <h2>Étape d'instruction</h2>
        <span style="width: 100px; display: inline-block;"><i class="delai-90j"></i></span> Au delà de 90 jours avant le début de la manifestation<br>
        <span style="width: 100px; display: inline-block;"><i class="delai-60j"></i></span> Au delà de 60 jours avant le début de la manifestation<br>
        <span style="width: 100px; display: inline-block;"><i class="delai-30j"></i></span> Au delà de 30 jours avant le début de la manifestation<br>
        <span style="width: 100px; display: inline-block;"><i class="delai-30-21j"></i></span> Entre 30 et 21 jours avant le début de la manifestation<br>
        <span style="width: 100px; display: inline-block;"><i class="delai-60-21j"></i></span> Entre 60 et 21 jours avant le début de la manifestation<br>
        <span style="width: 100px; display: inline-block;"><i class="delai-90-21j"></i></span> Entre 90 et 21 jours avant le début de la manifestation<br>
        <span style="width: 100px; display: inline-block;"><i class="delai-21-6j"></i></span> Entre 21 et 6 jours avant le début de la manifestation<br>
        <span style="width: 100px; display: inline-block;"><i class="delai-6-0j"></i></span> Moins de 6 jours avant le début de la manifestation<br>
        <br>
        <h2>Complétude des dossiers</h2>
        <span style="width: 76px; display: inline-block;"><i class="dossier-incomplet" data-nb_jour="21"></i></span> Dossier incomplet selon la liste des pièces à fournir dans le délai de 21 jours.<br>
        <span style="width: 76px; display: inline-block;"><i class="dossier-complet-non-verifie" data-nb_jour="21"></i></span> Dossier complet selon la liste des pièces à fournir dans le délai de 21 jours <u>mais en attente de vérification par l'instructeur</u>.<br>
        <span style="width: 76px; display: inline-block;"><i class="dossier-complet-verifie" data-nb_jour="6"></i></span> Dossier complet selon la liste des pièces à fournir dans le délai de 6 jours. Les éléments ont été vérifié par l'instructeur.<br>
    </div>
</div>



<div class="text-right">
    En attente de réponse &rarr; <i class="attente left-margin  bg-light"></i><br>
    Réponse favorable &rarr; <i class="ok left-margin  bg-light"></i><br>
    Réponse non favorable &rarr; <i class="pas-ok left-margin  bg-light"></i><br>
    Présence de prescriptions &rarr; <i class="commentaire left-margin  bg-light"></i><br><br>
</div>