{% extends "base.html" %}

{% load i18n index_tags %}

{% block page_title %}
    <h1>Liste des services</h1>
{% endblock %}

{% block content %}
    <div>
        Voici la liste synthétique et exhaustive de tous les services configurés dans votre département {% if dept_user %}({{ dept_user }}){% endif %} avec le nombre d'agents (actifs et non actifs) qui leur sont rattachés,<br>
        ainsi que le nombre de services rattachés pour la gestion des pré_avis.<br>
        <strong>Les lignes en <span style="color: red">rouge</span> requièrent votre attention</strong> car aucun agent actif n'est présent dans la plateforme ou aucun services n'est rattaché pour la gestion des pré-avis,<br>
        ce qui peut aboutir à une demande d'avis jamais traitée (par exemple).
    </div>
    <div class="d-flex flex-row justify-content-end">
        {% if not dept_user %}
            <div class="mr-4"><h2>Voir les services pour un département :</h2></div>
            <form class="form-inline chosen-mod" action="/administration/services/" method="get">
                <div class="form-group h-100 mr-4">
                    <select class="form-control" id="dept" name="dept">
                        <option value=""> ----- </option>
                        {% for nb, dept in liste_dept %}
                            {% if nb == request.GET.dept %}
                                <option selected value="{{ nb }}">{{ dept }}</option>
                            {% else %}
                                <option value="{{ nb }}">{{ dept }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Envoyer</button>
            </form>
        {% endif %}
    </div>

    <div class="row mt-4">
        <div class="tab-list col-sm-12">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#prefectures" data-toggle="pill">Préfecture</a></li>
                <li class="nav-item"><a class="nav-link" href="#mairies" data-toggle="pill">Mairies</a></li>
                <li class="nav-item"><a class="nav-link" href="#services" data-toggle="pill">Services consultés</a></li>
                <li class="nav-item"><a class="nav-link" href="#federations" data-toggle="pill">Fédérations</a></li>
                <li class="nav-item"><a class="nav-link" href="#zones" data-toggle="pill">Zones protégées</a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content help-page">
        <!-- Préfectures -->
        <div id="prefectures" class="tab-pane fade show active">
            <div><h2 class="pl-3">Préfectures</h2></div>
            <div class="col col-7">
                {% for prefecture in prefectures %}
                    &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-minus" style="color:#015a70;"></i>
                    <span {% if prefecture.nb_user_actif == 0 %}style="color: red"{% endif %}>
                        &nbsp;&nbsp;&nbsp;&nbsp;{{ prefecture }}
                        <span class="float-right">
                                {{ prefecture.nb_user_actif }}
                            agent{{ prefecture.nb_user_actif|pluralize }}
                            actif{{ prefecture.nb_user_actif|pluralize }}
                            {% if prefecture.nb_user_nonactif %}
                                , {{ prefecture.nb_user_nonactif }}
                                non actif{{ prefecture.nb_user_nonactif|pluralize }}
                            {% endif %}
                        </span>
                    </span><br/>
                {% endfor %}
            </div>
        </div>
        <!-- Mairies -->
        <div id="mairies" class="tab-pane fade">
            <div><h2 class="pl-3">Mairies</h2></div>
            <div class="col col-7">
                {% if mairies %}
                    {% for mairie in mairies %}
                        &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-minus" style="color:#015a70;"></i>
                        <span {% if mairie.nb_user_actif == 0 %}style="color: red"{% endif %}>
                            &nbsp;&nbsp;&nbsp;&nbsp;{{ mairie }}
                            <span class="float-right">
                                {{ mairie.nb_user_actif }}
                                agent{{ mairie.nb_user_actif|pluralize }}
                                actif{{ mairie.nb_user_actif|pluralize }}
                                    {% if mairie.nb_user_nonactif %}
                                        , {{ mairie.nb_user_nonactif }}
                                        non actif{{ mairie.nb_user_nonactif|pluralize }}
                                    {% endif %}
                            </span>
                        </span><br/>
                    {% endfor %}
                {% else %}
                    La liste est trop longue à afficher, veuillez sélectionner un département
                {% endif %}
            </div>
        </div>
        <!-- Fédération -->
        <div id="federations" class="tab-pane fade">
            <div class="alert alert-secondary">Vous pouvez également consulter la <a href="{% url 'sports:disciplines_federations' %}"'">liste des fédérations configurées par discipline</a>.</div>
            {% for groupe in groupes_federations %}
                <div><h2 class="pl-3">{{ groupe }}</h2></div>
                <div class="col col-7 mb-4">
                    {% for federation in federations %}
                        {% if groupe == 'Nationales' and federation.is_national %}
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-minus" style="color:#015a70;"></i>
                            <span {% if federation.nb_user_actif == 0 %}style="color: red"{% endif %}>
                                &nbsp;&nbsp;&nbsp;&nbsp;{{ federation.name }}
                                <span class="float-right">
                                {{ federation.nb_user_actif }}
                                    agent{{ federation.nb_user_actif|pluralize }}
                                    actif{{ federation.nb_user_actif|pluralize }}
                                    {% if federation.nb_user_nonactif %}
                                        , {{ federation.nb_user_nonactif }}
                                        non actif{{ federation.nb_user_nonactif|pluralize }}
                                    {% endif %}
                                </span>
                            </span><br/>
                        {% endif %}
                        {% if groupe == 'Régionales' and federation.is_regional %}
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-minus" style="color:#015a70;"></i>
                            <span {% if federation.nb_user_actif == 0 %}style="color: red"{% endif %}>
                                &nbsp;&nbsp;&nbsp;&nbsp;{{ federation.name }}
                                <span class="float-right">
                                {{ federation.nb_user_actif }}
                                    agent{{ federation.nb_user_actif|pluralize }}
                                    actif{{ federation.nb_user_actif|pluralize }}
                                    {% if federation.nb_user_nonactif %}
                                        , {{ federation.nb_user_nonactif }}
                                        non actif{{ federation.nb_user_nonactif|pluralize }}
                                    {% endif %}
                                </span>
                            </span><br/>
                        {% endif %}
                        {% if groupe == 'Départementales' and federation.is_departemental %}
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-minus" style="color:#015a70;"></i>
                            <span {% if federation.nb_user_actif == 0 %}style="color: red"{% endif %}>
                                &nbsp;&nbsp;&nbsp;&nbsp;{{ federation.name }}
                                <span class="float-right">
                                {{ federation.nb_user_actif }}
                                    agent{{ federation.nb_user_actif|pluralize }}
                                    actif{{ federation.nb_user_actif|pluralize }}
                                    {% if federation.nb_user_nonactif %}
                                        , {{ federation.nb_user_nonactif }}
                                        non actif{{ federation.nb_user_nonactif|pluralize }}
                                    {% endif %}
                                </span>
                            </span><br/>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <!-- Services -->
        <div id="services" class="tab-pane fade">
            {% for groupe in groupes_services %}
                {% if groupe %}
                <div><h2 class="pl-3">{{ groupe }}</h2></div>
                    <div class="row">
                    {% for service in services|index:forloop.counter0 %}
                        <!-- CD n+1 -->
                        {% if groupe == 'CD' %}
                            <div class="col col-6" {% if service.nb_user_actif == 0 or service.relation == 0 %}style="color: red"{% endif %}>
                                &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-minus" style="color:#015a70;"></i>
                                &nbsp;&nbsp;&nbsp;&nbsp;{{ service }} n+1
                            </div>
                            <div class="col col-3" {% if service.nb_user_actif == 0 %}style="color: red"{% endif %}>
                                {{ service.nb_usersup_actif }}
                                agent{{ service.nb_usersup_actif|pluralize }}
                                actif{{ service.nb_usersup_actif|pluralize }}
                                {% if service.nb_usersup_nonactif %}
                                    , {{ service.nb_usersup_nonactif }}
                                    non actif{{ service.nb_usersup_nonactif|pluralize }}
                                {% endif %}
                            </div>
                        {% endif %}
                        <!-- Cas général -->
                        {% if groupe == 'EDSR' and service.departement.instance.workflow_ggd != 1 or groupe != 'EDSR' %}
                            <div class="col col-6" {% if service.nb_user_actif == 0 or service.relation == 0 %}style="color: red"{% endif %}>
                                &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-minus" style="color:#015a70;"></i>
                                &nbsp;&nbsp;&nbsp;&nbsp;{{ service }}
                            </div>
                            <div class="col col-3" {% if service.nb_user_actif == 0 %}style="color: red"{% endif %}>
                                {{ service.nb_user_actif }}
                                agent{{ service.nb_user_actif|pluralize }}
                                actif{{ service.nb_user_actif|pluralize }}
                                {% if service.nb_user_nonactif %}
                                    , {{ service.nb_user_nonactif }}
                                    non actif{{ service.nb_user_nonactif|pluralize }}
                                {% endif %}
                            </div>
                            {% if service.relation >= 0 %}
                                <!-- Suivant le WF_GGD, c'est le GGD ou le EDSR qui distribue les pré-avis -->
                                {% if groupe == 'GGD' and service.departement.instance.workflow_ggd == 1 or groupe == 'EDSR' and service.departement.instance.workflow_ggd != 1 or groupe != 'GGD' and groupe != 'EDSR' %}
                                    <div class="col col-3" {% if service.relation == 0 %}style="color: red"{% endif %}>
                                        {% if service.relation == 0 %}
                                            aucun services en relation
                                        {% else %}
                                            {{ service.relation }} service{{ service.relation|pluralize }} en relation
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        <!-- EDSR local -->
                        {% if groupe == 'EDSR' and service.departement.instance.workflow_ggd == 1 %}
                            <div class="col col-6" {% if service.nb_localuser_actif == 0 %}style="color: red"{% endif %}>
                                &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-minus" style="color:#015a70;"></i>
                                &nbsp;&nbsp;&nbsp;&nbsp;{{ service }} local
                            </div>
                            <div class="col col-3" {% if service.nb_localuser_actif == 0 %}style="color: red"{% endif %}>
                                {{ service.nb_localuser_actif }}
                                agent{{ service.nb_localuser_actif|pluralize }}
                                actif{{ service.nb_localuser_actif|pluralize }}
                                {% if service.nb_localuser_nonactif %}
                                    , {{ service.nb_localuser_nonactif }}
                                    non actif{{ service.nb_localuser_nonactif|pluralize }}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <!-- Zones protégées -->
        <div id="zones" class="tab-pane fade">
            <div><h2 class="pl-3">Zones Natura2000</h2></div>
            <div class="col col-9 mb-4">
                {% for zone in n2k %}
                    &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-minus" style="color:#015a70;"></i>
                    <span {% if zone.admin == 0 %}style="color: red"{% endif %}>
                        &nbsp;&nbsp;&nbsp;&nbsp;{{ zone }}
                        <span class="float-right">
                            {% if zone.admin %}
                                {{ zone.admin }} administrateur
                            {% else %}
                                pas d'administrateur
                            {% endif %}
                        </span>
                    </span><br/>
                {% endfor %}
             </div>
            <div><h2 class="pl-3">Zones RNR</h2></div>
            <div class="col col-9 mb-4">
                {% for zone in rnr %}
                    &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-minus" style="color:#015a70;"></i>
                    <span {% if zone.admin == 0 %}style="color: red"{% endif %}>
                        &nbsp;&nbsp;&nbsp;&nbsp;{{ zone }}
                        <span class="float-right">
                            {% if zone.admin %}
                                {{ zone.admin }} administrateur
                            {% else %}
                                pas d'administrateur
                            {% endif %}
                        </span>
                    </span><br/>
                {% endfor %}
             </div>
        </div>
    </div>
{% endblock %}
