{% extends "base.html" %}

{% load i18n file_tags thumbail_filter %}

{% block head_title %}
{% endblock %}

{% block resume %}
    {% include 'evenements/blocs/bandeau_resume.html' with manif=object.instruction.manif %}

    {% ifequal object.etat 'demandé' %}
        <br>
        {% include 'evenements/blocs/bandeau_delai_avis.html' with avis=object %}
    {% endifequal %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="tab-list col-sm-12">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#agreement" data-toggle="pill">
                    <i class="avis"></i> Avis</a></li>
                <li class="nav-item"><a class="nav-link" href="#event" data-toggle="pill">
                    <i class="detail"></i> Détail de la manifestation</a></li>
                {% include 'evenements/panneaux/onglets.html' with object=object.instruction.manif %}
            </ul>
        </div>
        <div class="col-sm-8">
            <div class="tab-content">
                <div id="agreement" class="tab-pane fade show active">
                    <ul class="list-group mb-3">
                        <li class="list-group-item">Date de création du dossier : {{ object.instruction.manif.date_creation }}</li>
                        <li class="list-group-item">Date d'envoi de la demande d'autorisation : {{ object.instruction.date_creation }}</li>
                        <li class="list-group-item">Date de demande de l'avis : {{ object.date_demande }}</li>
                        <li class="list-group-item">
                        Avis attendu avant le :
                        {{ object.get_date_limite|date }} <i class="ctx-help-date_limite_avis fas fa-info-circle"></i>
                        </li>
                        {% if object.service_concerne == 'ggd' and object.etat == 'transmis' %}
                            <li class="list-group-item">
                                L'avis a été délégué à {{ object.get_instance.get_departement.edsr }}
                            </li>
                        {% endif %}
                        {% if object.etat == 'formaté' or object.etat == 'rendu' %}
                            {% if object.etat == 'rendu' %}
                                <li class="list-group-item">Date de rendu de l'avis : {{ object.date_reponse|default_if_none:"Pas encore rendu" }}</li>
                            {% else %}
                                <li class="list-group-item">L'avis est en cours de finalisation</li>
                            {% endif %}
                            <li class="list-group-item">Favorable : {{ object.favorable|yesno|title }}</li>
                            <li class="list-group-item">Contenu de l'avis : {{ object.prescriptions|linebreaks }}</li>
                        {% endif %}
                        <div class="mt-2 mb-2">Pièces jointes :</div>
                        {% if not object.docs.all %}
                            {% if object.etat != 'demandé' %}
                                <li class="list-group-item">Aucune</li>
                            {% else %}
                                {% if object.service_concerne == 'federation' or object.service_concerne == 'mairie' or object.service_concerne == 'service' %}
                                    <li class="list-group-item">Vous pourrez ajouter une ou plusieurs pièces jointes une fois l'avis rendu</li>
                                {% else %}
                                    <li class="list-group-item">Vous pourrez ajouter une ou plusieurs pièces jointes une fois l'avis distribué</li>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% for doc in object.docs.all %}
                            <li class="list-group-item">
                                <a href="{{ doc.fichier.url }}" target="_blank">{{ doc.fichier|basename }}</a>&nbsp;&nbsp;
                                <span data-toggle="tooltip" data-placement="auto" data-html="true" class="badge badge-info"
                                      title="<img src='{{ doc.fichier|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
                                </span>
                            </li>
                        {% endfor %}
                        {% if object.etat != 'demandé' %}
                            <li class="list-group-item">
                                <div class="btn btn-primary btn_doc" id="btn_{{ object.pk }}" style="margin-top: 1em; width: 100%;">Ajouter une pièce jointe</div>
                                <div class="form_ajout_doc" id="form_ajout_doc{{ object.pk }}" style="display: none;">
                                    <form style="display: flex; flex-direction: column; margin-top:.5em;" action="{% url 'instructions:avis_ajout_fichier' pk=object.pk %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <p>Attention : vos pièces jointes ne doivent pas aller à l'encontre de l'avis rendu !</p>
                                        <input type="file" required name="fichier">
                                        <input type="submit"  class="btn btn-primary" style="margin-top:0.5em; width: 100%;" value="Envoyer">
                                    </form>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                    {% if object.preavis.all %}
                        <h2 class="alert alert-dark">Liste des pré-avis demandés</h2>
                        <div class="text-right">
                            <span class="ctx-help-legende_icone_avis">Légende</span><i class="ctx-help-legende_icone_avis fas fa-info-circle"></i>
                        </div>
                    {% endif %}
                    <div id="accordion">
                        {% for preavis in object.preavis.all %}
                            {% include 'instructions/avis_description.html' with object=preavis %}
                        {% endfor %}
                    </div>
                </div>
                {% include 'evenements/panneaux/instructeur.html' with object=object.instruction.manif %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-danger liste-actions mb-3 side">
                <div class="card-header bg-danger text-white">
                    <i class="action-requise-blanc"></i> Actions requises
                </div>
                <div class="card-body">
                    <p>Actions requises relatives à cette manifestation :</p>
                    <ul class="list-no-style">
                        <li>
                            <!--{{ object.etat }}-->
                            {% if demander_preavis %}
                                <a href="{% url 'instructions:avis_dispatch' pk=object.id %}" role="button">
                                    <i class="envoyer"></i> Envoyer les demandes de pré-avis
                                    <i class="preavis left-margin"></i>
                                </a>
                            {% endif %}
                            {% if rendre_avis %}
                                <a href="{% url 'instructions:avis_acknowledge' pk=object.id %}" role="button">
                                    <i class="avis"></i> Rendre l'avis
                                </a>
                            {% endif %}
                            {% if passer_avis %}
                                <a href="{% url 'instructions:avis_pass' pk=object.id %}" role="button">
                                    <i class="envoyer"></i> Choisir l'EDSR en charge des préavis
                                    <i class="preavis left-margin"></i>
                                </a>
                            {% endif %}
                            {% if mettre_en_forme %}
                                <a href="{% url 'instructions:avis_format' pk=object.id %}" role="button">
                                    <i class="editer"></i> Mettre en forme l'avis
                                    <i class="avis left-margin"></i>
                                </a>
                            {% endif %}
                            {% if transmis_message %}
                                Vous devez attendre le retour de l'avis formaté par l'EDSR
                            {% endif %}
                            {% if distribué_message %}
                                {% if ggdagent_et_wf_ggd_edsr %}
                                    Vous devez attendre le retour de l'avis formaté par l'EDSR
                                {% else %}
                                    Vous devez attendre que tous les pré-avis soient rendus.
                                {% endif %}
                            {% endif %}
                            {% if formaté_message %}
                                Avis formaté, aucune action nécessaire.
                            {% endif %}
                            {% if depasse %}
                                Manifestation passée, aucune action nécessaire
                            {% elif rendu_message %}
                                Avis rendu, aucune action nécessaire
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card liste-actions mb-3">
                <div class="card-header bg-primary">
                    <i class="action"></i> Actions disponibles
                </div>
                <div class="card-body">
                    <ul class="list-no-style">
                        <li><a href="#" id="divexport" role="button"><i class="telecharger"></i>Exporter cette manifestation</a></li>
                        <div id="divexport_content" style="display: none;">
                            <li class="ml-4">Rappel : votre responsabilité est engagée en cas de divulgation d'informations (notamment des données personnelles).</li>
                            <li class="ml-4"><a class="export_lien" href="{% url 'evenements:export_manif_agent' pk=object.pk %}" role="button"><i class="pdf"></i>Exporter en fichier PDF</a></li>
                            <li class="ml-4"><a class="export_lien" href="{% url 'evenements:export_manif_agent' pk=object.pk %}?avis=1" role="button"><i class="pdf"></i>Exporter en fichier PDF <strong>avec avis et préavis</strong></a></li>
                            <li class="ml-4"><a class="export_lien" href="{% url 'evenements:export_manif_agent' pk=object.pk %}?zip=1" role="button"><i class="archive"></i>Exporter en archive ZIP </a></li>
                            <li class="ml-4"><a class="export_lien" href="{% url 'evenements:export_manif_agent' pk=object.pk %}?avis=1&zip=1" role="button"><i class="archive"></i>Exporter en archive ZIP <strong>avec avis et préavis</strong></a></li>
                            <li id="export_lien_attente" class="ml-4" style="display: none"><i class="spinner"></i>Veuillez patientez, la plateforme est en train de créer votre fichier</li>
                        </div>
                    </ul>
                </div>
            </div>

            <a href="{% url 'instructions:tableaudebord' %}" class="btn btn-outline-secondary btn-fill" role="button">
                <i class="retour"></i> Revenir au tableau de bord <i class="tableau-de-bord left-margin"></i>
            </a>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            // Changer la couleur de la carte "Actions requises" si pas d'actions
            if($('.card.side .card-body').text().match('aucune action nécessaire')) {
                $('.card.side .card-header').removeClass('bd-danger').addClass('bg-primary');
                $('.card.side').removeClass('border-danger');
            }

            // On bind l'événement click sur body venant de la partie concernée
            // Cette syntaxe permet de lier un événement sur une partie non visible au chargement de la page
            var text_wait = "<div class=\"alert alert-warning m-3\"><i class=\"far fa-spinner fa-spin\"></i>Recherche des informations en cours. Veuillez patienter...</div>";

            // Chargement de l'historique actions
            $('body').on('click', '#headinghisto1', function (event) {
                event.preventDefault();
                var cont_action = $.trim($('.histo-actions').text());
                if (cont_action == "") {
                    $('.histo-actions').html(text_wait).slideDown("fast");
                    $.get( "{% url 'notifications:actions_list' pk=object.instruction.manif.id path='avis' pko=object.id %}", function (data) {
                        $('.histo-actions').html(data);
                    });
                }
            });
            // Chargement de l'historique notifications
            $('body').on('click', '#headinghisto2', function (event) {
                event.preventDefault();
                var cont_notif = $.trim($('.histo-notifications').text());
                if (cont_notif == "") {
                    $('.histo-notifications').html(text_wait).slideDown("fast");
                    $.get( "{% url 'notifications:notifications_list' pk=object.instruction.manif.id path='avis' pko=object.id %}", function (data) {
                        $('.histo-notifications').html(data);
                    });
                }
            });
            // Affichage du formulaire d'ajout de pièce jointe
            $('.btn_doc').click(function (e) {
                let id='#form_ajout_doc'+$(this).attr('id').split('_')[1];
                $(id).fadeIn();
                $(e.target).fadeOut();
            });
            $('#divexport').on('click', function (e) {
                e.preventDefault();
                $('#divexport_content').toggle("slow");
            });

            // blocage des liens
            var export_lien_disabled = false
            $('.export_lien').click(function (e) {
                if (export_lien_disabled){
                    e.preventDefault();
                }
                else {
                    export_lien_disabled = true
                    $('#export_lien_attente').show()
                    setTimeout(function () {
                        export_lien_disabled = false
                        $('#export_lien_attente').hide()
                    }, 20000)
                }
            })

        });
    </script>
{% endblock %}
