{% load i18n static file_tags crispy_forms_tags %}

<div class="card bg-light">
    <div class="card-header">
        Transfert de pièce jointe
    </div>
    <div class="card-body">
        <p class="card-text">
            Le fichier <small>{{ doc.fichier|basename }}</small> va être copier dans la liste des documents officiels pour cette manifestation.
        </p>

        {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Attention : </strong>Certains champs sont obligatoires et doivent être renseignés<br/>
                <ul>
                    {% if form.non_field_errors %}
                        <li>{{ form.non_field_errors }}</li>
                    {% endif %}
                    {% for field in form %}
                        {% if field.errors %}
                            <li><strong>{{ field.label }}</strong> : {{ field.errors.0 }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <form class="form-horizontal" action="{% url 'instructions:instruction_transfert_pj_vers_doc_officiel' pk=object.id %}?pj={{ doc.pk }}"
              enctype="multipart/form-data" method="post">
            <input type="hidden" name="doc" value="{{ doc.pk }}"/>
            {% crispy form %}
            {{ form.media }}
            <button type="submit" class="btn btn-success btn-fill mt-1"><i class='valider'></i>Valider la publication en tant que
                document officiel
            </button>
        </form>
    </div>
</div>
