{% extends "base_form.html" %}

{% load i18n %}

{% block head_title %}
    {% if cis %}
        Choisissez les CIS concernés
    {% elif brigade %}
        Choisissez les brigades concernées
    {% else %}
        Rendre le pré-avis
    {% endif %}
{% endblock %}

{% block page_title %}
    <h1>
        <i class="preavis"></i>
        {% if cis %}
            Choisissez les CIS concernés
        {% elif brigade %}
            Choisissez les brigades concernées
        {% else %}
            Rendre le pré-avis
        {% endif %}
        : {{ object.avis.instruction.manif|capfirst }}
    </h1>
{% endblock %}

{% block content %}
    {{ block.super }}
    {% if not cis and not brigade %}
        <p> Vous pouvez ajouter une ou plusieurs pièces jointes dans le détail du pré-avis.</p>
    {% endif %}
{% endblock %}
