{% extends "base.html" %}

{# load url from future #}
{% load static i18n instruction_tags %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/DataTables/css/jquery.dataTables.css' %}">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" charset="utf8" src="{% static 'libs/DataTables/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'libs/DataTables/js/datetime-moment.js' %}"></script>
{% endblock %}

{% block head_title %}
    Tableau de bord
{% endblock %}

{% block page_title %}
    <h1>
        {% if instruction_mairie %}    {# instructeur mairie   (filtre_specifique== 'instructionmairie')  #}
            {% if not archive %}
                <i class="tableau-de-bord"></i> Tableau de bord instructeur en mairie <i class="ctx-help-tb_instructeur fa-info-circle fas "></i>
                {% if role == 'instructeur' %}
                    <a href="{% url 'portail:stat_instructeur' %}" class="float-right btn btn-primary btn-sm" style="margin-left: 15px;">
                        <i class="statistiques"></i>
                    </a>
                    <a href="{% url 'instructions:tableaudebord' %}{{ role }}">
                        <span class="float-right btn btn-primary btn-sm" style=" margin-left: 15px;">&nbsp;<i class="retour"></i></span></a>
                {% endif %}
                <a href="{% url 'instructions:tableaudebord' %}{{ role }}?temporalite=archive&filtre_specifique=instructionmairie">
                    <span class="float-right btn btn-primary btn-sm attendre-archive"><i class="archive"></i>Archives</span></a>
            {% else %}
                <i class="tableau-de-bord"></i> Archives des instructions en mairie
                <a href="{% url 'instructions:tableaudebord' %}{{ role }}?filtre_specifique=instructionmairie">
                    <span class="float-right btn btn-primary btn-sm" style=" margin-left: 15px;">&nbsp;<i class="retour"></i></span></a>
            {% endif %}
            <a href="{% url 'declarations:dashboard' %}">
                <span class="float-right btn btn-primary btn-sm" style=" margin-right: 15px;"><i class="historique"></i>Ancienne réglementation</span></a>
        {% elif role == 'instructeur' %}   {# instructeur préfecture  #}
            {% if not archive %}
                <i class="tableau-de-bord"></i> Tableau de bord instructeur <i class="ctx-help-tb_instructeur fa-info-circle fas "></i>
                <a href="{% url 'portail:stat_instructeur' %}" class="float-right btn btn-primary btn-sm" style="margin-left: 15px;">
                    <i class="statistiques"></i>
                </a>
                <a href="{% url 'instructions:tableaudebord' %}{{ role }}?temporalite=archive">
                    <span class="float-right btn btn-primary btn-sm attendre-archive"><i class="archive"></i>Archives</span></a>
                <a href="{% url 'instructions:tableaudebord' %}{{ role }}?filtre_specifique=instructionmairie">
                    <span class="float-right btn btn-primary btn-sm"><i class="agent-local"></i>Instruction mairie</span></a>
            {% else %}
                <i class="tableau-de-bord"></i> Archives des instructions
                <a href="{% url 'instructions:tableaudebord' %}{{ role }}">
                    <span class="float-right btn btn-primary btn-sm" style=" margin-left: 15px;">&nbsp;<i class="retour"></i></span></a>
            {% endif %}
            <a href="{% url 'authorizations:dashboard' %}">
                <span class="float-right btn btn-primary btn-sm" style=" margin-right: 15px;"><i class="historique"></i>Ancienne réglementation</span></a>
        {% else %}   {# service consulté  #}
            {% if not archive %}
                <i class="tableau-de-bord"></i> Tableau de bord (service consulté)
                <a href="{% url 'instructions:tableaudebord' %}{{ role }}?temporalite=archive">
                    <span class="float-right btn btn-primary btn-sm attendre-archive"><i class="archive"></i>Archives</span></a>
            {% else %}
                <i class="tableau-de-bord"></i> Archives des avis / pré-avis
                <a href="{% url 'instructions:tableaudebord' %}{{ role }}">
                    <span class="float-right btn btn-primary btn-sm" style=" margin-left: 15px;">&nbsp;<i class="retour"></i></span></a>
            {% endif %}
            {% if user.agent %}
                <a href="{% url 'agreements:dashboard' %}">
            {% else %}
                <a href="{% url 'sub_agreements:dashboard' %}">
            {% endif %}
        <span class="float-right btn btn-primary btn-sm" style=" margin-right: 15px;"><i class="historique"></i>Ancienne réglementation</span></a>
        {% endif %}
    </h1>
{% endblock %}

{% block content %}
    {% if onglet %}
        Arrondissements <i class="ctx-help-tb_instructeur_arron fa-info-circle fas "></i>  :
        <ul class="nav nav-pills">
            {% for arrondis in liste_arrondis %}
                <li class="nav-item"><a class="nav-link onglet {% if user_arrondis == arrondis.code %}active{% endif %}" href="#{{arrondis.code}}" data-toggle="pill">
                    {% if INSTANCE.acces_arrondissement == 2 %}
                        <i class="editer"></i>
                    {% else %}
                        {% if user_arrondis == arrondis.code %}
                            <i class="editer"></i>
                        {% else %}
                            <i class="deplier"></i>
                        {% endif %}
                    {% endif %}
                    {% if user_arrondis == arrondis.code %} ♥ {% endif %}
                    {{ arrondis.name }}
                    {% if user_arrondis == arrondis.code %} ♥ {% endif %}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if onglet_service %}
        <ul class="nav nav-pills">
            {% for dept in liste_dept %}
                <li class="nav-item">
                    <a class="nav-link onglet_service" href="#dept_{{dept.name}}" data-toggle="pill">
                        {{ dept }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="card card-primary">
        <div class="card-header">
            {% if user_is_instructeur %}
                <h2 class="card-title"><i class="dossier"></i> Liste des manisfestations {% if not archive %}à venir{% else %}archivées{% endif %}
            {% elif user.agent%}
                <h2><i class="avis"></i> Avis {% if not archive %}demandés{% else %}archivés{% endif %}
            {% elif user.agentlocal%}
                <h2><i class="preavis"></i> Pré-avis {% if not archive %}demandés{% else %}archivés{% endif %}
            {% endif %}
            <input class="form-control float-right w-25" id="search" placeholder="Rechercher">
            <button class="btn btn-primary btn-xs btn-filter float-right" id="etape"><i class="far fa-filter"></i> Filtrer</button></h2>
        </div>
        <table id="instruction-table" class="table-hover">
            <thead>
            <tr>
                <th>Formulaire</th>
                <th>Date de début</th>
                {% if not archive %}
                    <th>Délai</th>
                {% endif %}
                <th>Nom</th>
                <th>Départ <br>de</th>
                <th>État</th>
                <th>Complétude</th>
                <th>Dernière<br> action</th>
                {% if user_is_instructeur %}<th>Nom de l'instructeur</th>{% endif %}
            </tr>
            </thead>
            <tbody>
            {% include 'instructions/tbody_TdB.html' %}
            </tbody>
        </table>
    </div>
    <script>
        $('body').on('click', 'tr.clickligne', function (event) {
            window.location=$(this).data("href");
        });
        $(document).ready(function () {

            function init_table() {
                //  @summary Add a filter input on each DataTable columns
                //  @name DataTables Filters v0.1
                //  @author [Angelo Boursin] (https://github.com/aboursin/datatables.filters)
                //  Modifié pour afficher le titre de la colonne
                //  BOF

                $.fn.dataTable.Api.register('filtersOn()', function () {
                    var dataTable = this;
                    var id = $(dataTable.context[0].nTable).attr('id');
                    var state = dataTable.state.loaded();

                    // Create the filter header row
                    $('#' + id + ' thead').after(
                        $('<thead />').addClass('filter').append($('<tr />'))
                    );

                    // Populate the filter header
                    $('#' + id + ' thead th').each(function (index) {
                        console.log(dataTable.context[0].aoColumns[index].bSearchable)
                        var searchable = dataTable.context[0].aoColumns[index].bSearchable;
                        var searchtype = dataTable.context[0].aoColumns[index].searchtype;
                        var tablabel = []

                        // Add input only if current column is searchable
                        if (searchable) {

                            if (searchtype == "select") {

                                // Select input
                                // "<span class=\"badge badge-light icone delai-30j\" title=\"\" data-toggle=\"tooltip\" data-original-title=\"Au delà de 30 jours avant le début de la manifestation\"> <i class=\"far fa-stopwatch\"></i> +30j&nbsp; <i class=\"fas fa-signal-alt text-info\"></i> </span>"
                                var select = $('<select ></select>').addClass('form-control input-sm');
                                select.append('<option value="">' + dataTable.context[0].aoColumns[index].sTitle + '</option>');
                                dataTable.column(index).data().unique().sort().each(function (d, j) {

                                    /*
                                if (/^<./.test(d) === true) {
                                    if (/badge-light/.test(d) === true) {
                                        d = d.substring(d.indexOf('/i>') + 3, d.indexOf('&'));
                                    } else {
                                        d = d.substring(d.lastIndexOf('badge'), d.lastIndexOf('j')+1);
                                    }
                                }
                                */

                                    if (/^<./.test(d) === true) {
                                        label = $(d).find('span[hidden]').text();
                                        if (label == "") {
                                            label = $(d).siblings('span[hidden]').text();
                                        }
                                    } else {
                                        label = d;
                                    }
                                    let found = tablabel.find(function (element) {
                                        return label===element
                                    })

                                    if (!found){
                                        select.append('<option value="' + label + '">' + label + '</option>' )
                                        tablabel.push(label);
                                    }
                                });

                                $('#' + id + ' .filter tr').append($('<th>').append(select));
                            } else {
                                // Text input
                                $('#' + id + ' .filter tr').append($('<th>').append($('<input type="text"/>').addClass('form-control input-sm')));
                            }
                        } else {
                            $('#' + id + ' .filter tr').append($('<th>'));
                        }
                    });

                    // Restore filter (only if stateSave)
                    if (state) {
                        console.log("stateSave:true > Restoring filters...");
                        dataTable.columns().eq(0).each(function (index) {
                            var colSearch = state.columns[index].search;
                            if (colSearch.search) {
                                // Restore input value
                                $('#' + id + ' .filter input').get(index).value = colSearch.search;
                            }
                        });
                    }

                    // Filter input event : filter matching column
                    $('#' + id + ' .filter input, #' + id + ' .filter select').each(function (index) {
                        $(this).on('keyup change', function () {
                            dataTable.column(index).search(this.value).draw();
                        });
                    });

                    return dataTable;

                });

                $.fn.dataTable.Api.register('filtersClear()', function () {

                    var dataTable = this;
                    var id = $(dataTable.context[0].nTable).attr('id');
                    var state = dataTable.state.loaded();

                    // Clean filters (only if stateSave)
                    if (state) {
                        console.log("stateSave:true > Clearing filters...");
                        $('#' + id + ' .filter input, #' + id + ' .filter select').each(function (index) {
                            // Clear input value
                            this.value = '';
                            // Clear column filter
                            dataTable.column(index).search('');
                        });

                        // Re-draw datatable
                        dataTable.draw();
                    }

                });
                //  EOF

                $.fn.dataTable.moment('DD/MM/YYYY');
                $.fn.dataTable.moment('DD/MM/YYYY HH:mm');

                let columnDefs;
                {% if not archive and user_is_instructeur %}
                    columnDefs = [
                        {"targets": [0,1,2,3,4,5,6,7,8], "searchtype": "select"},
                        {"targets": [0], "width": 100},
                        {"targets": [1], "width": 70},
                        {"targets": [2], "width": 80},
                        {"targets": [3], "width": 130},
                        {"targets": [4], "width": 70},
                        {"targets": [5], "width": 115},
                        {"targets": [6], "width": 75},
                        {"targets": [7], "width": 70},
                        {"targets": [8], "width": 100}
                    ];
                    {% elif not archive and not user_is_instructeur %}
                    columnDefs = [
                        {"targets": [0,1,2,3,4,5,6,7], "searchtype": "select"},
                        {"targets": [0], "width": 100},
                        {"targets": [1], "width": 70},
                        {"targets": [2], "width": 80},
                        {"targets": [3], "width": 130},
                        {"targets": [4], "width": 70},
                        {"targets": [5], "width": 115},
                        {"targets": [6], "width": 75},
                        {"targets": [7], "width": 70}
                    ];
                    {% elif archive and user_is_instructeur %}
                    columnDefs = [
                        {"targets": [0,1,2,3,4,5,6,7], "searchtype": "select"},
                        {"targets": [0], "width": 110},
                        {"targets": [1], "width": 90},
                        {"targets": [2], "width": 130},
                        {"targets": [3], "width": 90},
                        {"targets": [4], "width": 115},
                        {"targets": [5], "width": 85},
                        {"targets": [6], "width": 80},
                        {"targets": [7], "width": 110}
                    ];
                {% else %}
                    columnDefs = [
                        {"targets": [0,1,2,3,4,5,6], "searchtype": "select"},
                        {"targets": [0], "width": 110},
                        {"targets": [1], "width": 90},
                        {"targets": [2], "width": 130},
                        {"targets": [3], "width": 90},
                        {"targets": [4], "width": 115},
                        {"targets": [5], "width": 85},
                        {"targets": [6], "width": 80}
                    ];
                {% endif %}

                // L'option "scrollY" et "scrollCollapse" n'est pas possible sinon la ligne des filtres disparait à la première utilisation
                table = $('#instruction-table').DataTable({
                    "paging": false,
                    "info": false,
                    "columnDefs": columnDefs,
                    fixedColumns: true
                }).filtersOn();
                $('.dataTables_filter').remove();
                $('#instruction-table th.sorting').css('padding', '4px 0 4px 9px');

                $('thead.filter').hide();
            }
            var table;
            init_table();
            // L'option "scrollY" et "scrollCollapse" n'est pas possinle sinon la ligne des filtres disparait à la première utilisation
            // L'option "searching": false n'est pas possible sinon les filtres ne marchent plus donc on cache avec jquery

            $('.btn-filter').click(function(){
                $('thead.filter').toggle();
                $('thead:first-child').toggle();
                // $('select').chosen();
            });

            $('body').on('click', 'tr.clickligne', function (event) {
                window.location=$(this).data("href");
            });

            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#instruction-table tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            $('body').on("click", '.onglet', function () {
                let code = $(this).attr('href').substr(1);
                let mairie = '';
                {% if instruction_mairie %}
                    mairie = '&filtre_specifique=instructionmairie';
                {% endif %}
                $.get( "{% url 'instructions:tableaudebordajax' %}?arrondis=" + code + mairie, function (data) {
                    $('thead.filter').remove();
                    $('thead:first-child').show();
                    table.destroy();
                    $('tbody').html(data);
                    AfficherIcones();
                    init_table();
                });
            });
            $('body').on("click", '.onglet_service', function () {
                let code = $(this).attr('href').substr(6);
                $.get( "{% url 'instructions:tableaudebordajax' %}?dept=" + code, function (data) {
                    $('thead.filter').remove();
                    $('thead:first-child').show();
                    table.destroy();
                    $('tbody').html(data);
                    AfficherIcones();
                    init_table();
                });
            });
        });
    </script>
{% endblock %}
