{% load i18n instruction_tags %}

{% for instruction in object_list %}
    {# onclick dans le <tr> ne marche pas avec bootstrap-table, voir script main. On passe l'url avec data-href #}
    {# ====================================================================================================== #}
    {# TOUTES MODIFICATIONS DU NOMBRE DE COLONNES DE LA TABLE DOIT ETRE REPORTER DANS LE HACK POUR LE COLSPAN #}
    {# ====================================================================================================== #}
    {% if user_is_instructeur %}
        <tr class="{% if instruction.etat == 'interdite' %}
                        table-danger
                    {% elif instruction.etat == 'annulée' %}
                        table-secondary
                    {% elif instruction.etat == 'autorisée' %}
                        table-success
                    {% elif instruction.etat == 'distribuée' %}
                        table-info
                    {% elif instruction.etat == 'demandée' %}
                        table-warning
                    {% endif %} clickligne"  data-href='{{ instruction.get_absolute_url }}'>
    {% elif user.agent%}
        {% with avis=instruction|avis:user %}
        <tr class="
            {% if instruction.etat != 'interdite' and instruction.etat != 'annulée' %}
                {% if avis.etat == 'rendu' %}
                    table-success
                {% elif avis.etat == 'distribué' or avis.etat == 'formaté' or avis.etat == 'transmis' and user.agent.ggdagent %}
                    table-info
                {% elif avis.etat == 'demandé' or avis.etat == 'transmis' and user.agent.edsragent %}
                    table-warning
                {% endif %}
            {% elif instruction.etat == 'interdite' %}
                table-danger
            {% else %}
                table-secondary
            {% endif %} clickligne"  data-href='{{ avis.get_absolute_url }}'>
        {% endwith %}
    {% elif user.agentlocal%}
        {% with preavis=instruction|preavis:user %}
        <tr class="
            {% if instruction.etat != 'interdite' and instruction.etat != 'annulée' %}
                {% if preavis.etat == 'rendu' %}
                    table-success
                {% elif preavis.etat == 'notifié' %}
                    table-info
                {% elif preavis.etat == 'demandé' %}
                    table-warning
                {% endif %}
            {% elif instruction.etat == 'interdite' %}
                table-danger
            {% else %}
                table-secondary
            {% endif %} clickligne"  data-href='{{ preavis.get_absolute_url }}'>
        {% endwith %}
    {% endif %}
            <td>
                {% include 'evenements/pictos/type_evenement.html' with manif=instruction.manif %}
            </td>
            <td ><span data-toggle="tooltip" data-placement="top" title="{{ instruction.manif.date_debut|date:"l j F Y" }}">{{ instruction.manif.date_debut|date:"d/m/Y" }}</span></td>
            {% if instruction.manif.get_type_manif and not archive%}
                                <td>
                                    {% include 'evenements/pictos/delai.html' with manif=instruction.manif %}
                                </td>
                            {% endif %}
<td><span data-toggle="tooltip" data-placement="top" title="Activité : {{ instruction.manif.activite.name }}<br>Organisateur : {{ instruction.manif.structure }}">{{ instruction.manif.nom }}</span></td>
            <td>{{ instruction.manif.ville_depart }}
                {% if INSTANCE.get_instruction_mode %}
                    ({{ instruction.manif.ville_depart.arrondissement }})
                {% endif %}
            </td>
            <td class="text-center">
                {% include 'evenements/pictos/etat.html' with manif=instruction.manif %}
            </td>
            <td>{% if instruction.manif.get_cerfa.dossier_complet %}
                    {% if instruction.doc_verif %}
                        <i class="dossier-complet-verifie" data-nb_jour='{{ instruction.manif.get_cerfa.delai_en_cours }}'></i>
                    {% else %}
                        <i class="dossier-complet-non-verifie" data-nb_jour='{{ instruction.manif.get_cerfa.delai_en_cours }}'></i>
                    {% endif %}
                {% else %}
                    <i class="dossier-incomplet" data-nb_jour='{{ instruction.manif.get_cerfa.delai_en_cours }}'></i>
                {% endif %}
            </td>
            <td>{{ instruction.manif.actions.last.creation_date|date:"d/m/Y H:i" }}</td>
            {% if user_is_instructeur %}<td>{{ instruction.referent.first_name|title }} {{ instruction.referent.last_name|title }}</td>{% endif %}
        </tr>
{% empty %}
        <tr>
        {% if user_is_instructeur %}
            {% if not archive %}
                <td colspan="9" class="text-center">Aucune instruction à gérer</td>
            {% else %}
                <td colspan="9" class="text-center">Aucune instruction archivée</td>
            {% endif %}
        {% elif user.agent%}
            {% if not archive %}
                <td colspan="9" class="text-center">Aucun avis à gérer</td>
            {% else %}
                <td colspan="9" class="text-center">Aucun avis archivé</td>
            {% endif %}
        {% elif user.agentlocal%}
            {% if not archive %}
                <td colspan="9" class="text-center">Aucune demande de pré-avis à traiter</td>
            {% else %}
                <td colspan="9" class="text-center">Aucun pré-avis archivé</td>
            {% endif %}
        {% endif %}
        <!-- Hack pour DataTable qui ne gère pas le colspan -->
        {% if not archive and user_is_instructeur %}
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
        {% elif not archive and not user_is_instructeur %}
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
        {% elif archive and user_is_instructeur %}
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
        {% else %}
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
        {% endif %}
        </tr>
{% endfor %}
