{% load static clever_selects_extras i18n %}

<!doctype html>
<html lang="fr">
<head>
    <title>{% if not INSTANCE.is_master %}({{ INSTANCE.get_departement_name }}) {% endif %}
        {% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <meta charset='utf-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="icon" href="/static/portail/img/favicon.ico" />

    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/bootstrap-table/dist/bootstrap-table.min.css' %}">
    <link href="{% static 'portail/css/jquery-jvectormap-2.0.3.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/jquery-ui/jquery-ui.min.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/chosen/chosen.min.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/fontawesome-pro/css/all.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/titatoggle/dist/titatoggle-dist-min.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'portail/css/default.css' %}" rel='stylesheet' type='text/css'>

    <script src="{% static 'libs/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/moment/moment.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/bootstrap-table/dist/bootstrap-table.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/bootstrap-table/dist/bootstrap-table-locale-all.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/chosen/chosen.jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/bootstrap-switch/dist/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'aide/contextHelp.jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/jquery.submitProtection.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/jquery-jvectormap-2.0.3.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/jquery-jvectormap-fr-merc.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/common.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/main.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/icone.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        var dep_number = "{{ INSTANCE.get_departement_name }}";
    </script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
        <script src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'></script>
    <![endif]-->
    {% block custom_head %}{% endblock %}
    <!-- Bof Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://openscop.icu/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- Eof Matomo -->
</head>
<body style="background-color: {{ INSTANCE.get_color }};" class="{{ request.resolver_match.url_name }}">
<nav class='navbar navbar-expand-lg navbar-dark navbar-inverse fixed-top' role='navigation'>
    <div class='container'>
        <a class='navbar-brand' href="{% url 'portail:home_page' %}">
            <img alt='Logo Manifestations sportives'
                 src="{% static 'portail/img/Logo_Manifestation_Sportive_260x70.png' %}" height="55">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class='collapse navbar-collapse flex-row-reverse'>
            <ul class='navbar-nav'>
                {% if user.is_authenticated %}
                    {# Les utilisateurs peuvent cumuler plusieurs rôles et donc plusieurs menus dédiés #}
                    {# Menu pour les organisateurs #}
                    {% if user.organisateur %}
                        <li class="nav-item"><a href="{% url 'evenements:tableau-de-bord-organisateur' %}"><i class="tableau-de-bord"></i>Tableau de bord<br><i class="organisateur"></i>organisateur</a></li>
                    {% endif %}
                    {# Menu pour les instructeurs #}
                    {% if user.instructeur %}
                        <li class="nav-item"><a href="{% url 'instructions:tableaudebord' %}instructeur"><i class="tableau-de-bord"></i>Tableau de bord<br><i class="instructeur"></i>instructeur</a></li>
                    {% endif %}
                    {% if user.agent.mairieagent %}
                        <li class="nav-item"><a href="{% url 'instructions:tableaudebord' %}?filtre_specifique=instructionmairie"><i class="tableau-de-bord"></i>Tableau de bord<br><i class="instructeur"></i>instructeur</a></li>
                    {% endif %}
                    {# Menu pour les agents départementaux #}
                    {% if user.agent %}
                        {% if user.agent.edsragent %}
                            <li class="nav-item"><a href="{% url 'instructions:tableaudebord' %}edsragent"><i class="tableau-de-bord"></i>Tableau de bord<br><i class="agent-departemental"></i>{{ user.agent.edsragent.edsr }}</a></li>
                        {% elif user.agent.brigadeagent %}
                            <li class="nav-item"><a href="{% url 'instructions:tableaudebord' %}brigadeagent"><i class="tableau-de-bord"></i>Tableau de bord<br><i class="agent-departemental"></i>{{ user.agent.brigadeagent.brigade }}</a></li>
                        {% elif user.agent.ggdagent %}
                            <li class="nav-item"><a href="{% url 'instructions:tableaudebord' %}ggdagent"><i class="tableau-de-bord"></i>Tableau de bord<br><i class="agent-departemental"></i>{{ user.agent.ggdagent.ggd }}</a></li>
                        {% elif user.agent.sdisagent %}
                            <li class="nav-item"><a href="{% url 'instructions:tableaudebord' %}sdisagent"><i class="tableau-de-bord"></i>Tableau de bord<br><i class="agent-departemental"></i>{{ user.agent.sdisagent.sdis }}</a></li>
                        {% elif user.agent.codisagent %}
                            <li class="nav-item"><a href="{% url 'instructions:tableaudebord' %}codisagent"><i class="tableau-de-bord"></i>Tableau de bord<br><i class="agent-departemental"></i>{{ user.agent.codisagent.codis }}</a></li>
                        {% elif user.agent.cisagent %}
                            <li class="nav-item"><a href="{% url 'instructions:tableaudebord' %}cisagent"><i class="tableau-de-bord"></i>Tableau de bord<br><i class="agent-departemental"></i>{{ user.agent.cisagent.cis }}</a></li>
                        {% elif user.agent.ddspagent %}
                            <li class="nav-item"><a href="{% url 'instructions:tableaudebord' %}ddspagent"><i class="tableau-de-bord"></i>Tableau de bord<br><i class="agent-departemental"></i>{{ user.agent.ddspagent.ddsp }}</a></li>
                        {% elif user.agent.federationagent %}
                            <li class="nav-item"><a href="{% url 'instructions:tableaudebord' %}federationagent"><i class="tableau-de-bord"></i>Tableau de bord<br><i class="agent-departemental"></i>{{ user.agent.federationagent.federation }}</a></li>
                        {% elif user.agent.serviceagent %}
                            <li class="nav-item"><a href="{% url 'instructions:tableaudebord' %}serviceagent"><i class="tableau-de-bord"></i>Tableau de bord<br><i class="agent-departemental"></i>{{ user.agent.serviceagent.service }}</a></li>
                        {% elif user.agent.mairieagent %}
                            <li class="nav-item"><a href="{% url 'instructions:tableaudebord' %}mairieagent"><i class="tableau-de-bord"></i>Tableau de bord<br><i class="agent-local"></i>Service consulté<br>({{ user.agent.mairieagent.commune }})</a></li>
                        {% elif user.agent.cgagent %}
                            <li class="nav-item"><a href="{% url 'instructions:tableaudebord' %}cgagent"><i class="tableau-de-bord"></i>Tableau de bord<br><i class="agent-departemental"></i>{{ user.agent.cgagent.cg }}</a></li>
                        {% elif user.agent.cgsuperieuragent %}
                            <li class="nav-item"><a href="{% url 'instructions:tableaudebord' %}cgsuperieuragent"><i class="tableau-de-bord"></i>Tableau de bord<br><i class="agent-departemental"></i>{{ user.agent.cgsuperieuragent.cg }}</a></li>
                        {% endif %}
                    {% endif %}
                    {# Menu pour les agents locaux #}
                    {% if user.agentlocal %}
                        {% if user.agentlocal.compagnieagentlocal %}
                            <li class="nav-item"><a href="{% url 'instructions:tableaudebord' %}compagnieagentlocal"><i class="tableau-de-bord"></i>Tableau de bord<br><i class="agent-local"></i>{{ user.agentlocal.compagnieagentlocal.compagnie }}</a></li>
                        {% elif user.agentlocal.cgdagentlocal %}
                            <li class="nav-item"><a href="{% url 'instructions:tableaudebord' %}cgdagentlocal"><i class="tableau-de-bord"></i>Tableau de bord<br><i class="agent-local"></i>{{ user.agentlocal.cgdagentlocal.cgd }}</a></li>
                        {% elif user.agentlocal.commissariatagentlocal %}
                            <li class="nav-item"><a href="{% url 'instructions:tableaudebord' %}commissariatagentlocal"><i class="tableau-de-bord"></i>Tableau de bord<br><i class="agent-local"></i>{{ user.agentlocal.commissariatagentlocal.commissariat }}</a></li>
                        {% elif user.agentlocal.cgserviceagentlocal %}
                            <li class="nav-item"><a href="{% url 'instructions:tableaudebord' %}cgserviceagentlocal"><i class="tableau-de-bord"></i>Tableau de bord<br><i class="agent-local"></i>{{ user.agentlocal.cgserviceagentlocal.cg_service }}</a></li>
                        {% elif user.agentlocal.edsragentlocal %}
                            <li class="nav-item"><a href="{% url 'instructions:tableaudebord' %}edsragentlocal"><i class="tableau-de-bord"></i>Tableau de bord<br><i class="agent-local"></i>{{ user.agentlocal.edsragentlocal.edsr }}</a></li>
                        {% endif %}
                    {% endif %}
                    {# Menu d'administration pour les superutilisateurs #}
                    {% if user.is_staff %}
                        <li class="nav-item"><a href="{% url 'admin:index' %}" title="Administration" data-toggle="tooltip"><i class="configurer"></i></a></li>
                    {% endif %}
                    {# Menu pour tous les utilisateurs #}
                    <li class="nav-item"><a href="{% url 'aide:help-sommaire' %}" target="_blank"><i class="aide"></i>Aide</a>
                    <li class="nav-item"><a href="{% url 'profile' %}"><i class="ctx-help-leg_user" style="color: white"><i class="utilisateur"></i></i>{{ user.username }}
                        ({{ user.get_instance.get_departement_name }})</a></li>
                    <li class="nav-item"><a href="{% url 'account_logout' %}" title="Déconnexion" data-toggle="tooltip"><i class="deconnecter"></i></a>
                    </li>
                {% else %}
                    <li class="nav-item active"><a href="{% url 'account_login' %}"><i class="connecter"></i>Connexion</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block body %}
    <div class='container' id="main-content">
        <div class='row hearder-notification'>
            {% if messages %}
                <br>
                <div class="col-xs-12 col-md-12">
                    {% for message in messages %}
                        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissable">
                            <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
                            <strong>{{ message }}</strong>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-xs-12 col-md-12">
                {% include "nouveautes/nouveaute_available.html" %}
            </div>
        </div>
{% if not TEST %}
    <!-- Bof Alerte CORONAVIRUS -->
    <br>
    <div class="alert alert-danger">
        <div class="row">
            <div class="col-1">
                <i class="fa fa-exclamation-square fa-3x"></i>
            </div>
            <div class="col-11">
                <p>
                    Tout rassemblement, réunion ou activité à un titre autre que professionnel sur la voie publique ou dans un lieu public, mettant en présence de manière simultanée plus de dix personnes, est interdit sur l’ensemble du territoire de la République.. Cette disposition s’applique bien évidemment aux manifestations sportives qu’elles soient compétitives ou non et qu’elles se déroulent en milieu extérieur ou intérieur ; aux stages sportifs.<br><br>
                    Les établissements relevant de la catégorie X (établissements sportifs couverts), PA (Établissements de plein air), CTS (Chapiteaux, tentes et structures), R (Établissements d’éveil, d’enseignement, de formation, centres de vacances, centres de loisirs sans hébergement), P (Salles de danse et salles de jeux), L (Salles d’auditions, de conférences, de réunions, de spectacles ou à usage multiple) ne peuvent accueillir de public. (Liste non exhaustive)<br><br>
                    Les établissements mentionnés aux articles L. 322-1 et L. 322-2 du code du sport (établissements d'activités physiques ou sportives) sont fermés, sous réserve des dérogations suivantes :<br>
                    Ces établissements peuvent organiser la pratique d’activités physiques et sportives de plein air, à l’exception :<br>
                    a) Des sports collectifs ; <br>
                    b) Des sports de combat ; <br>
                    c) Des activités aquatiques pratiquées dans les piscines au sens de l’article D. 1332-1 du code de la santé publique.<br>
                    Les activités concernées ne peuvent donner lieu à des regroupements de plus de dix personnes. <br>
                    Ces activités se déroulent dans des conditions de nature à permettre le respect des dispositions de l’article 1er (règle de distanciation physique). Par dérogation à l’article 1er, la distanciation physique imposée est de cinq mètres pour une activité physique et sportive modérée et de dix mètres pour une activité physique et sportive intense. Le texte ne fixe pas de date de réouverture.
                </p>
                <p>
                    Référence Décrets n° 2020-545 et 2020-548 du 11 mai 2020
                </p>
            </div>
        </div>
    </div>
    <!-- Eof Alerte CORONAVIRUS -->
{% endif %}
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div id='page-header'>{% block page_title %}{% endblock %}</div>
                <div class='resume'>{% block resume %}{% endblock %}</div>
                {% block fil_ariane %}{% endblock %}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
{% endblock %}

<footer role='contentinfo'>
    <div class="container">
        <div class="summary d-none d-sm-block">
            Plateforme web simplifiant considérablement les démarches entre les organisateurs d'événements sportifs,
            l'État et l'ensemble des services consultés
            pour avis.
        </div>
        <div id="footer-info" class='text-center'>
            <a href="http://www.openscop.fr">Openscop</a><span class="pipe_separator">|</span>
            <a href="/mentions-legales/">Mentions légales</a><span class="pipe_separator">|</span>
            <a href="/CGU/">Conditions Générales d'Utilisation</a><span class="pipe_separator">|</span>
            <a href="/aide/contact">Contact</a>
        </div>
    </div>
</footer>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Modal body</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<div id="scrollToTop">
    <a href="#"><i class="haut-de-page"></i></a>
</div>

<div class="modal fade" id="nom_prenom_modal" tabindex="-1" role="dialog" aria-labelledby="nom_prenom_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p><strong>Votre nom et votre prénom ne sont pas renseignés</strong> dans votre profil utilisateur.<br>
                    Ils sont nécessaires pour de futures fonctionnalités.<br>
                    Pour rappel, les comptes sont nominatifs.<br><br>
                    Nous vous proposons de les renseigner dès à présent ci-dessous.<br>
                </p>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Nom</span>
                    </div>
                    <input type="text" style="height: 38px;" class="form-control" id="nom" aria-describedby="basic-addon3">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon4">Prénom</span>
                    </div>
                    <input type="text" style="height: 38px;" class="form-control" id="prenom" aria-describedby="basic-addon4">
                </div>
                <button id="btn_submit_nom_prenom" style="float: none" class="btn btn-primary btn-action">Enregistrer</button>
            </div>
        </div>
    </div>
</div>

<!-- TODO à supprimer  -->
{% if user.last_name == 'à renseigner' or user.first_name == 'à renseigner' %}
    <script>
        var url_nom_prenom_change = "{% url "nom_prenom_change" %}";
    </script>
    <script src="{% static 'portail/js/nomprenomchange.js' %}"></script>
{% endif %}

{% block extra_js %}{% endblock %}

{% if contexthelps %}
    <script type="text/javascript">
        // Insertion dynamique d'icône d'aide
        function showcontexthelps() {
            {% for help in contexthelps %}
                if (!$('[class^=ctx-help-{{ help.name }}]').length) { // si l'icône n'existe pas
                    var help_icon = '<i class="ctx-help-{{ help.name }} fas fa-info-circle"></i>';
                    {% for inserts in help.position_as_list %}
                        {% if inserts.typeinsert == 'after' %}
                            $('{{ inserts.selecteur }}').after(help_icon); // l'insérer après
                        {% else %}
                            $('{{ inserts.selecteur }}').append(help_icon);  // l'insérer dedans
                        {% endif %}
                    {% endfor %}
                    $('[class^=ctx-help-{{ help.name }}]').tooltip({  // et activer la tooltip
                        title: retrieveData,
                        html: true,
                        container: 'body',
                        trigger: 'click',
                        placement: 'top',
                    });
                }
            {% endfor %}
        }
        $(function() { showcontexthelps(); });
    </script>
{% endif %}

<div class="modal fade" id="iemodel" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Navigateur obsolète</h5>
            </div>
            <div class="modal-body">
                Vous utilisez Internet Explorer. <br>
                Microsoft a définitivement abandonné ce navigateur le 14 janvier 2020. Il ne répond plus aux standards
                et normes de sécurité actuelles. <br>
                Ainsi, l'utilisation de cette plateforme avec Internet Explorer n'est pas autorisée.<br>
                Veuillez utiliser un navigateur, à jour, tel que Mozilla Firefox ou Chromium recommandé dans le <a
                    href="https://references.modernisation.gouv.fr/socle-logiciels-libres" target="_blank">SILL de
                l'État</a>.
            </div>
        </div>
    </div>
</div>

<script>
/* Sample function that returns boolean in case the browser is Internet Explorer*/
function isIE() {
  ua = navigator.userAgent;
  /* MSIE used to detect old browsers and Trident used to newer ones*/
  var is_ie = ua.indexOf("MSIE ") > -1 || ua.indexOf("Trident/") > -1;

  return is_ie;
}
/* Create an alert to show if the browser is IE or not */
if (isIE()){
console.log('nan')
$('#iemodel').modal({
  backdrop: 'static',
  keyboard: false
})
    $('#iemodel').modal('show')
}
</script>

 <script>
    if (typeof CKEDITOR!=="undefined"){
    CKEDITOR.dtd.$removeEmpty['span'] = false;
    CKEDITOR.dtd.$removeEmpty['i'] = false;
    }</script>
<script src='{% static "libs/clever-selects.js" %}' type="text/javascript"></script>

</body>
</html>
