
{% load i18n %}

{% if not avis.delai_expire %}
    <div class="alert alert-warning">
        <p><strong>Attention ! </strong>
            Vous avez jusqu'au {{ avis.get_date_limite|date:'d F Y' }}, pour rendre votre avis.
        </p>
    </div>
{% else %}
    <div class="alert alert-danger">
        <p><strong>Attention ! Vous aviez jusqu'au {{ avis.get_date_limite|date:'d F Y' }}, pour rendre votre avis.</strong><br/>
            Cette date est maintenant dépassée mais <strong>vous pouvez cependant encore le faire</strong>.
        </p>
    </div>
{% endif %}
