{% load i18n instruction_tags %}

<div class="row" style="font-size: 0.9rem;">
    <div class="col-sm-5">
        <span title="Nom de la manifestation" data-toggle="tooltip"><i class="dossier"></i></span>
        <strong>{{ manif|truncatechars:60|capfirst }}</strong> <br>
        <i class="structure"></i> {{ manif.structure|truncatechars:60|capfirst }} <br>
        <span title="Date de début de la manifestation" data-toggle="tooltip"><i class="date"></i></span>
        {{ manif.date_debut|date:"l j F Y" }} <br>
        <span title="Commune de départ" data-toggle="tooltip"><i class="ville"></i></span>
        {{ manif.ville_depart }} <br>
        <i class="activite"></i> {{ manif.activite }}
    </div>
    <div class="col-sm-3">
        {% include 'evenements/pictos/type_evenement.html' %}<br>
        <small>{{ manif.get_cerfa.refCerfa|capfirst }} <em>({{ manif.get_type_manif }})</em></small>
        <div class="mt-3">
            Nombre d'utilisateur sur le dossier : {{ manif.get_nbr_ppl }}
            {% if referent %}<i class="instructeur"></i> Instructeur : {{ referent }} {% endif %} <br>
            <i class="historique"></i> Dernière action : {{ manif.actions.last.creation_date|date:"d N G:i" }}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row h-75 justify-content-end">
            {% if not manif.date_depassee %}
                <div class="col-sm-4 text-center">
                    Délai <br>
                    <div class="mt-3">{% include 'evenements/pictos/delai.html' %}</div>
                </div>
            {% endif %}
            <div class="col-sm-4 text-center">
                Complétude <br>
                <div class="mt-3">
                    {% if manif.get_cerfa.dossier_complet %}
                        {% if manif.instruction.doc_verif %}
                            <i class="dossier-complet-verifie" data-nb_jour='{{ manif.get_cerfa.delai_en_cours }}'></i>
                        {% else %}
                            <i class="dossier-complet-non-verifie"
                               data-nb_jour='{{ manif.get_cerfa.delai_en_cours }}'></i>
                        {% endif %}
                    {% else %}
                        <i class="dossier-incomplet" data-nb_jour='{{ manif.get_cerfa.delai_en_cours }}'></i>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-4 text-center">
                État <br>
                <div class="mt-3">
                    {% include 'evenements/pictos/etat.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
