{% load crispy_forms_tags i18n static %}


{% if form.errors %}
    <div class="alert alert-danger">
        <strong>Attention : </strong>Certains champs sont obligatoires et doivent être renseignés<br/>
        <ul>
            {% if form.non_field_errors %}
                <li>{{ form.non_field_errors }}</li>
            {% endif %}
            {% for field in form %}
                {% if field.errors %}
                    <li><strong>{{ field.label }}</strong> : {{ field.errors.0 }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

{{ form.media }}
{% crispy form %}

<script src='{% static 'libs/autogrow/jquery.ns-autogrow.min.js' %}' type="text/javascript"></script>
<script src='{% static 'evaluation_incidence/js/evaluation-form.js' %}' type="text/javascript"></script>
