{% extends "base_form.html" %}

{% load i18n static %}

{% block head_title %}Formulaire d'EI simplifiée RNR{% endblock %}
{% block page_title %}
    <h1>Formulaire d'évaluation d'incidence simplifiée RNR</h1>
    <hr>
    <h3 ><span class="badge badge-info">BETA</span> Cette rubrique a été entièrement refaite afin de prendre en compte les particularités de tous les départements. Ce formulaire est actuellement en phase de test. Merci d'utiliser le formulaire de contact en cas d'anomalie.</h3>

{% endblock %}

{% block extra_js %}
    <script src='{% static 'libs/autogrow/jquery.ns-autogrow.min.js' %}' type="text/javascript"></script>
    <script src='{% static 'evaluation_incidence/js/evaluation-form.js' %}' type="text/javascript"></script>
{% endblock %}
