{% load i18n verbose_tags %}

<h3 ><span class="badge badge-info">BETA</span> Cette rubrique a été entièrement refaite afin de prendre en compte les critères d'évaluation nationaux et les listes locales. Ce formulaire est actuellement en phase de test. Merci d'utiliser le formulaire de contact en cas d'anomalie.</h3>

{% ifequal user object.structure.organisateur.user %}
    {% if not evaluation.conclusion_natura_2000 %}
        <div class="alert alert-warning text-left">
            Vous avez déclaré ne pas conclure à l'absence d'incidence significative,<br>
            veuillez donc prendre contact avec la DDT ou la DREAL de votre département pour prendre connaissance de la suite de la procédure.
            Cette démarche n'est pas bloquante pour l'envoi de votre dossier mais elle sera demandée ultérieurement par le service instructeur.
            Merci de l'anticiper.
        </div>
    {% endif %}
    {% if not object.en_cours_instruction %}
        <div class="card-body text-right">
            <a href="{% url 'evaluation_incidence:n2keval_update' object.n2kevaluation.pk %}"
               class="btn btn-primary" role="button "><i class="editer"></i> Modifier
            </a>
        </div>
    {% endif %}
{% endifequal %}

<div class="card-header">
    Information générales
</div>
<ul class="list-group mb-3">
    {% if evaluation.pourquoi_instructeur or evaluation.pourquoi_organisateur %}
        <li class="list-group-item">Motivation de
        {% if evaluation.pourquoi_instructeur %}
            l'instructeur : {{ evaluation.pourquoi_instructeur|capfirst }}
        {% endif %}
        {% if evaluation.pourquoi_organisateur %}
            l'organisateur : {{ evaluation.pourquoi_organisateur|capfirst }}
        {% endif %}
        </li>
    {% endif %}
    {% if evaluation.diurne %}
        <li class="list-group-item">{{ evaluation|verbose_attr:'diurne'|capfirst }}</li>
    {% endif %}
    {% if evaluation.nocturne %}
        <li class="list-group-item">{{ evaluation|verbose_attr:'nocturne'|capfirst }}</li>
    {% endif %}
    <li class="list-group-item">Fréquence de la manifestation :
        <div class="card-body py-1">
            {% if evaluation.annuel %}
                {{ evaluation|verbose_attr:'annuel'|capfirst }}<br>
            {% endif %}
            {% if evaluation.premiere_edition %}
                {{ evaluation|verbose_attr:'premiere_edition'|capfirst }}<br>
            {% endif %}
            {% if evaluation.autre_frequence %}
                {{ evaluation|verbose_attr:'autre_frequence'|capfirst }} : {{ evaluation.autre_frequence|capfirst }}
            {% endif %}
        </div>
    </li>
    <li class="list-group-item">{{ evaluation|verbose_attr:'cout'|capfirst }} : {{ evaluation.get_cout_display }}</li>
</ul>

<div class="card-header">
    <i class="carto"></i> Localisation de la manifestation par rapport aux sites Natura 2000
</div>
<ul class="list-group mb-3" id="liste_site">
    {% if evaluation.terrestre or evaluation.nautique or evaluation.aerien %}
        <li class="list-group-item">
            {% if evaluation.terrestre %}
                {{ evaluation|verbose_attr:'terrestre'|capfirst }}<br>
            {% endif %}
            {% if evaluation.nautique %}
                {{ evaluation|verbose_attr:'nautique'|capfirst }}<br>
            {% endif %}
            {% if evaluation.aerien %}
                {{ evaluation|verbose_attr:'aerien'|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.sensibilite %}
        <li class="list-group-item">{{ evaluation|verbose_attr:'sensibilite'|capfirst }}</li>
    {% endif %}
{% if object.sites_natura2000.first %}
    <li class="list-group-item">Sites natura 2000 concernés :
    <div class="card-body py-1">
        {% for site in object.sites_natura2000.all %}
            {{ site }}
            <a class='float-right' role='button' href='#collapse{{ site.id }}' data-toggle='collapse' data-target='#collapse{{ site.id }}'
               aria-expanded='false' aria-controls='collapse{{ site.id }}'>&nbsp;&nbsp;&nbsp;<i class='rechercher'></i> voir l'opérateur</a><br>
        {% endfor %}
    </div></li>
    {% for site in object.sites_natura2000.all %}
        <table class='collapse w-100 mb-3' id='collapse{{ site.id }}' aria-labelledby='zone_{{ site.id }}' data-parent='#liste_site'>
            <thead><tr class='table-secondary'>
                <th>Administrateur</th><th>Adresse</th><th>Commune</th><th>Conservateur</th><th>E-mail</th></tr></thead>
            <tbody><tr class='table-active'>
                <td>{{ site.operateursiten2k.nom }}</td><td>{{ site.operateursiten2k.adresse|default:'' }}</td>
                <td>{{ site.operateursiten2k.commune|default:'' }}</td><td>{{ site.operateursiten2k.contacts|linebreaksbr }}</td>
                <td>{{ site.operateursiten2k.email|urlize }}</td></tr>
            </tbody>
        </table>
    {% endfor %}
    <li class="list-group-item">{{ evaluation|verbose_attr:'distance_site'|capfirst }} : {{ evaluation.distance_site }} km</li>
{% endif %}
    {% if evaluation.lieu %}
        <li class="list-group-item">{{ evaluation|verbose_attr:'lieu'|capfirst }} : {{ evaluation.lieu|capfirst }}</li>
    {% endif %}
    <li class="list-group-item">{{ evaluation|verbose_attr:'Longueur_totale_parcours'|capfirst }} en zone Natura 2000 : {{ evaluation.Longueur_totale_parcours }}</li>
</ul>

<div class="card-header">
    Incidences potentielles sur Natura 2000
</div>
<ul class="list-group mb-3">
{% if evaluation.pietinement %}
    <li class="list-group-item">{{ evaluation|verbose_attr:'pietinement'|capfirst }}
    {% if evaluation.mesures_pietinement %}
        <div class="card-body py-1">
            mesures engagées : {{ evaluation.mesures_pietinement|safe|linebreaks }}
        </div>
    {% endif %}
    </li>
{% endif %}
{% if evaluation.emissions_sonores %}
    <li class="list-group-item">{{ evaluation|verbose_attr:'emissions_sonores'|capfirst }}
    {% if evaluation.mesures_emissions_sonores %}
        <div class="card-body py-1">
            mesures engagées : {{ evaluation.mesures_emissions_sonores|safe|linebreaks }}
        </div>
    {% endif %}
    </li>
{% endif %}
{% if evaluation.emissions_lumiere %}
    <li class="list-group-item">{{ evaluation|verbose_attr:'emissions_lumiere'|capfirst }}
    {% if evaluation.mesures_emissions_lumiere %}
        <div class="card-body py-1">
            mesures engagées : {{ evaluation.mesures_emissions_lumiere|safe|linebreaks }}
        </div>
    {% endif %}
    </li>
{% endif %}
{% if evaluation.pollution_eau %}
    <li class="list-group-item">{{ evaluation|verbose_attr:'pollution_eau'|capfirst }}
    {% if evaluation.mesures_pollution_eau %}
        <div class="card-body py-1">
            mesures engagées : {{ evaluation.mesures_pollution_eau|safe|linebreaks }}
        </div>
    {% endif %}
    </li>
{% endif %}
{% if evaluation.pollution_terre %}
    <li class="list-group-item">{{ evaluation|verbose_attr:'pollution_terre'|capfirst }}
    {% if evaluation.mesures_pollution_terre %}
        <div class="card-body py-1">
            mesures engagées : {{ evaluation.mesures_pollution_terre|safe|linebreaks }}
        </div>
    {% endif %}
    </li>
{% endif %}
{% if evaluation.sensibilisation %}
    <li class="list-group-item">{{ evaluation|verbose_attr:'sensibilisation'|capfirst }}
    {% if evaluation.mesures_sensibilisation %}
        <div class="card-body py-1">
            mesures engagées : {{ evaluation.mesures_sensibilisation|safe|linebreaks }}
        </div>
    {% endif %}
    </li>
{% endif %}
{% if evaluation.emprise_amenagement %}
    <li class="list-group-item">{{ evaluation|verbose_attr:'emprise_amenagement'|capfirst }}
    {% if evaluation.mesures_emprise_amenagement %}
        <div class="card-body py-1">
            mesures engagées : {{ evaluation.mesures_emprise_amenagement|safe|linebreaks }}
        </div>
    {% endif %}
    </li>
{% endif %}
{% if evaluation.public %}
    <li class="list-group-item">{{ evaluation|verbose_attr:'public'|capfirst }}
    {% if evaluation.mesures_public %}
        <div class="card-body py-1">
            mesures engagées : {{ evaluation.mesures_public|safe|linebreaks }}
        </div>
    {% endif %}
    </li>
{% endif %}
{% if evaluation.parking %}
    <li class="list-group-item">{{ evaluation|verbose_attr:'parking'|capfirst }}
    {% if evaluation.mesures_parking %}
        <div class="card-body py-1">
            mesures engagées : {{ evaluation.mesures_parking|safe|linebreaks }}
        </div>
    {% endif %}
    </li>
{% endif %}
{% if evaluation.engins_aeriens %}
    <li class="list-group-item">{{ evaluation|verbose_attr:'engins_aeriens'|capfirst }}
    {% if evaluation.mesures_engins_aeriens %}
        <div class="card-body py-1">
            mesures engagées : {{ evaluation.mesures_engins_aeriens|safe|linebreaks }}
        </div>
    {% endif %}
    </li>
{% endif %}
</ul>

<div class="card-header">
    Conclusions
</div>
<ul class="list-group mb-3">
    <li class="list-group-item">{{ evaluation|verbose_attr:'impact_estime'|capfirst }} : {{ evaluation.impact_estime|capfirst }}</li>
    <li class="list-group-item">{{ evaluation|verbose_attr:'conclusion_natura_2000'|capfirst }} : {{ evaluation.conclusion_natura_2000|yesno|title }}</li>
</ul>
