{% extends "base_form.html" %}

{% load i18n static %}

{% block head_title %}Formulaire d'EI simplifiée Natura 2000{% endblock %}
{% block page_title %}
    <h1>Formulaire d'évaluation d'incidence simplifiée Natura 2000</h1>
    <hr>
    <h3 ><span class="badge badge-info">BETA</span> Cette rubrique a été entièrement refaite afin de prendre en compte les particularités de tous les départements. Ce formulaire est actuellement en phase de test. Merci d'utiliser le formulaire de contact en cas d'anomalie.</h3>

{% endblock %}

{% block extra_js %}
    {% if contexthelps %}
        <script type="text/javascript">
            // Insertion dynamique de div d'aide
            $(function () {
                let page_help = '';
                let champ = '';
                {% for help in contexthelps %}
                    {% spaceless %}
                        page_help = "{{ help.name }}";
                        // Supprimer le préfixe des pages contexthelp destinée à l'évaluation n2k
                        champ = page_help.split('_').splice(1, 10).join('_');
                    if ($('[name="'+champ+'"]').length) {
                        $('[name="'+champ+'"]').parents('.form-group').after('<div class="' + champ + '_ctx-help ml-5">{{ help.text|safe }}</div>');
                    }
                    {% endspaceless %}
                {% endfor %}
            })
        </script>
    {% endif %}
    <script>
        let impact = {{ impact }};
    </script>

    <script src='{% static 'libs/autogrow/jquery.ns-autogrow.min.js' %}' type="text/javascript"></script>
    <script src='{% static 'evaluation_incidence/js/evaluation-form.js' %}' type="text/javascript"></script>
{% endblock %}
