{% extends "base.html" %}

{% load static i18n %}

{% block head_title %}Calendrier{% endblock %}

{% block custom_head %}
    <link href='{% static 'portail/css/fullcalendar-custom.css' %}' rel='stylesheet'/>
    <link href='{% static 'libs/fullcalendar/css/main.css' %}' rel='stylesheet' />
    <link href='{% static 'libs/fullcalendar/css/daygrid.css' %}' rel='stylesheet'/>
    <link href='{% static 'libs/fullcalendar/css/list.css' %}' rel='stylesheet'/>
    <link href='{% static 'libs/fullcalendar/css/bootstrap.css' %}' rel='stylesheet'/>
    <link href='{% static 'libs/fullcalendar/css/timegrid.css' %}' rel='stylesheet'/>
    <script src='{% static 'libs/fullcalendar/js/main.js' %}'></script>
    <script src='{% static 'libs/fullcalendar/js/daygrid.js' %}'></script>
    <script src='{% static 'libs/fullcalendar/js/list.js' %}'></script>
    <script src='{% static 'libs/fullcalendar/js/locale-fr.js' %}'></script>
    <script src='{% static 'libs/fullcalendar/js/bootstrap.js' %}'></script>
    <script src='{% static 'libs/fullcalendar/js/timegrid.js' %}'></script>
{% endblock %}

{% block page_title %}
    {% if dep_actuel %}
        <h1>Manifestations sportives à venir dans le département {{ dep_actuel }}</h1>
    {% else %}
        <h1>Manifestations sportives à venir</h1>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-wrap mt-0 mb-4">
        <div class="d-flex flex-column ml-auto ml-md-0" id="choix-activite">
            <label for="activite">Activité :</label>
            <select class="form-control" id="activite" name="activite">
                <option value=""> Toutes </option>
                {% for activite in activities %}
                    {% if activite.pk == current_activite  %}
                        <option selected value="{{ activite.pk }}">{{ activite }}</option>>
                    {% else %}
                        <option value="{{ activite.pk }}">{{ activite }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="d-flex flex-column ml-auto"  id="choix-departement">
            <label for="departement">Département :</label>
            <select class="form-control" id="departement" name="departement">
                <option value="master"> National </option>
                {% for departement in dep %}
                    {% if departement == dep_actuel %}
                        <option value="{{ departement.pk }}" selected>{{ departement }}</option>
                    {% else %}
                        <option value="{{ departement.pk }}">{{ departement }}</option>
                    {% endif %}

                {% endfor %}
            </select>
        </div>
        <div class="d-flex flex-column ml-auto"  id="choix-commune">
            <label for="commune">Commune :</label>
            <select class="form-control" id="commune" name="commune">
                <option value="0"> Toutes </option>
                {% for com in comm %}
                    {% if com.pk == com_actuel %}
                        <option value="{{ com.pk }}" selected>{{ com }}</option>
                    {% else %}
                        <option value="{{ com.pk }}">{{ com }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="d-flex flex-column ml-auto" id="choix-date">
            <label for="date">Date :</label>
            {% for field in form %}
                {{ field }}
            {% endfor %}
            {{ form.media }}
        </div>
    </div>
    <div id='calendar'></div>
    <div class="mt-3"><small>Ce calendrier affiche toutes les manifestations sportives dont le dossier a été déposé par l'organisateur auprès du service instructeur par l'intermédiaire de cette plateforme.<br>
        Les manifestations affichées peuvent être en cours d'instruction.<br>
        Les manifestations interdites ou annulées ne sont pas affichées.
 </small></div>
{% endblock %}

{% block extra_js %}

    <script>
        let events = [];
        function getRandomColor() {
            let colors = [
                '#89949C','#495057','#015a70','#004570','#99A300','#0078B4',
                '#00355D', '#6c757d','#a0acb4','#a4874d','#33687D','#A4874D'
            ];
            return colors[Math.floor(Math.random() * 12)];
        }

        {% for manif in object_list %}
            var color = getRandomColor();
            var event = {
                title: "{{ manif.nom|safe|capfirst }}",
                departure: "{{ manif.ville_depart.name }}",
                start: "{{ manif.date_debut|date:'c' }}",
                end: "{{ manif.date_fin|date:'c' }}",
                url: "/evenement/" + {{ manif.id }} + "/",
                activite: "{{ manif.activite }}",
                dep: "{{ manif.ville_depart.get_departement.name }}",
                backgroundColor: color,
                borderColor: color,
                icone_dossier: '<i class="dossier"></i>',
                icone_depart: '<i class="ville"></i>',
                icone_activite: '<i class="activite"></i>',
                icone_instruction: '',
            {% if not request.user.is_anonymous %}
                icone_dossier: '<i class="dossier" data-titre="Pas d\'instruction pour cet événement"></i>',
                {% if manif.instruction.etat == 'autorisée' %}
                    icone_instruction: '<i class="autorisee"></i>',
                {% elif manif.instruction.etat == 'demandée' %}
                    icone_instruction: '<i class="demandee"></i>',
                {% elif manif.instruction.etat == 'distribuée' %}
                    icone_instruction: '<i class="distribuee" data-titre="Instruction en cours par les services"></i>',
                {% endif %}
            {% endif %}
            };
            events.push(event);
        {% endfor %}

        $(document).ready(function(){
            // Sources : https://fullcalendar.io/
            let calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl,{
                events: events,
                plugins: [ 'dayGrid', 'bootstrap', 'timeGrid', 'list' ],
                defaultView: 'dayGridMonth',
                weekends: true,
                weekNumbers: false,
                views: {
                    dayGrid : {
                        eventLimit: 3,
                        displayEventTime: false,
                    },
                    timeGrid : {
                        minTime: "06:00:00",
                        maxTime: "20:00:00",
                        displayEventTime: true,
                        timeGridEventMinHeight: 50,
                    },
                },
                eventLimitText: 'cliquez pour voir',
                columnHeaderFormat: { weekday: 'long' },
                locale: 'fr',
                themeSystem: 'bootstrap',
                header: {
                    left: 'today prev,next',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay listMonth'
                },
                buttonText: {
                    listMonth: 'Liste mensuelle',
                },
                height: 'auto',
                titleFormat: { year: 'numeric', month: 'long', day: 'numeric' },
                eventRender: function(info) {
                    let html;
                    if (info.event.extendedProps.icone_instruction){
                        html = '<div>' + info.event.extendedProps.icone_instruction;
                    }
                    else {
                        html = '<div>' + info.event.extendedProps.icone_dossier;
                    }
                    html += info.event.title + '<br>' + info.event.extendedProps.icone_depart {% if not dep_actuel  %}+ info.event.extendedProps.dep+" "{% endif %} + info.event.extendedProps.departure {% if not current_activite %}+ '<br>'+info.event.extendedProps.icone_activite+info.event.extendedProps.activite{% endif %}+'</div>';
                    let eventEl = $(info.el);
                    let title;
                    if (info.view.type === 'dayGridMonth'){
                        title = eventEl.find('div.fc-content').html(html);
                    }
                    else if (info.view.type === 'timeGridWeek' || info.view.type === 'timeGridDay'){
                        title = eventEl.find('.fc-title').html(html);
                    }
                    return eventEl[0];
                },
                eventPositioned: function(){
                    AfficherIcones();
                }
            });
            calendar.render();

            $('input[name="date"]').on('dp.change', function (e) {
                let date = e.date.format("YYYY-MM-DD");
                calendar.changeView('timeGridDay', date);
            });

            $('#activite').on('change', function () {
                let pk = $('#activite').val();
                if(pk !== '') {
                    if (window.location.search){
                        window.location.assign("/calendar/" + pk + "/"+window.location.search);
                    }
                    else{
                        window.location.assign("/calendar/" + pk + "/");
                    }

                } else {
                    if (window.location.search){
                        window.location.assign("/calendar/"+window.location.search);
                    }
                    else {
                        window.location.assign("/calendar/");
                    }

                }
            });

            $('#departement').on('change', function () {
                let pk = $(this).val();
                let actual = window.location.origin+window.location.pathname;
                window.location.assign(actual+'?dep='+pk);
            });

            $('#commune').on('change', function () {
                let pk = $(this).val();
                let pk_dep = $('#departement').val();
                let actual = window.location.origin+window.location.pathname;
                if (pk != '0') {
                    window.location.assign(actual + '?dep=' + pk_dep + '&com=' + pk);
                } else {
                    window.location.assign(actual + '?dep=' + pk_dep);
                }
            });

            // Adapter la forme du select_chosen à celle du boostrap_datepicker
            $('.chosen-single').css('height', '34px').css('line-height', '34px');
            $('.chosen-single div').css('top', '5px');

        })
    </script>
{% endblock %}
