{% extends "base.html" %}

{% load static %}
{% load i18n %}


{% block head_title %} Manifestations Sportives | Plateforme {{ INSTANCE.get_departement_friendly_name }}
{% endblock %}

{% block custom_head %}
    <link href="{% static 'portail/css/index.css' %}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
    {% block content %}
        {# Le commentaire HTML ci-dessous doit être conservé !! #}
        <!-- Sous-domaine {{ INSTANCE.name }} -->

        <!-- bof #carrousel -->
        <div id="carrousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carrousel" data-slide-to="0" class="active"></li>
                <li data-target="#carrousel" data-slide-to="1"></li>
                <li data-target="#carrousel" data-slide-to="2"></li>
                <li data-target="#carrousel" data-slide-to="3"></li>
                <li data-target="#carrousel" data-slide-to="4"></li>
                <li data-target="#carrousel" data-slide-to="5"></li>
                <li data-target="#carrousel" data-slide-to="6"></li>
                <li data-target="#carrousel" data-slide-to="7"></li>
                <li data-target="#carrousel" data-slide-to="8"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img alt="slide" src="{% static 'portail/img/carousel01.jpg' %}">
                    <div class="carousel-caption">
                        <span class="carousel-caption-text">Démarches en ligne de déclarations et autorisation d'évènements sportifs</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <img alt="slide" src="{% static 'portail/img/carousel02.jpg' %}">
                    <div class="carousel-caption">
                        <span class="carousel-caption-text">Démarches en ligne de déclarations et autorisation d'évènements sportifs</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <img alt="slide" src="{% static 'portail/img/carousel03.jpg' %}">
                    <div class="carousel-caption">
                        <span class="carousel-caption-text">Démarches en ligne de déclarations et autorisation d'évènements sportifs</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <img alt="slide" src="{% static 'portail/img/carousel04.jpg' %}">
                    <div class="carousel-caption">
                        <span class="carousel-caption-text">Démarches en ligne de déclarations et autorisation d'évènements sportifs</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <img alt="slide" src="{% static 'portail/img/carousel05.jpg' %}">
                    <div class="carousel-caption">
                        <span class="carousel-caption-text">Démarches en ligne de déclarations et autorisation d'évènements sportifs</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <img alt="slide" src="{% static 'portail/img/carousel06.jpg' %}">
                    <div class="carousel-caption">
                        <span class="carousel-caption-text">Démarches en ligne de déclarations et autorisation d'évènements sportifs</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <img alt="slide" src="{% static 'portail/img/carousel07.jpg' %}">
                    <div class="carousel-caption">
                        <span class="carousel-caption-text">Démarches en ligne de déclarations et autorisation d'évènements sportifs</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <img alt="slide" src="{% static 'portail/img/carousel08.jpg' %}">
                    <div class="carousel-caption">
                        <span class="carousel-caption-text">Démarches en ligne de déclarations et autorisation d'évènements sportifs</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <img alt="slide" src="{% static 'portail/img/carousel09.jpg' %}">
                    <div class="carousel-caption">
                        <span class="carousel-caption-text">Démarches en ligne de déclarations et autorisation d'évènements sportifs</span>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control-prev" href="#carrousel" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control-next" href="#carrousel" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
        <!-- eof #carrousel -->

        <!-- bof contenu -->
        <div class='container'>
        <div class="row" style="background-color: #015A70;">

            <!-- bof 1e colonne -->
            <div class="col-md-4 background-contrast">

                <div id="carte-fr"></div>

                <script type="text/javascript">
                    var instances = {};
                    {% for instance in INSTANCES %}
                        // Todo : à réactiver après la mise en place d'un certificat avec tous les sous-domaines sachant qu'il y a une erreur avec request.META.SERVER_NAME
                        // instances["FR-{{ instance.get_departement.name }}"] = "{{ request.is_secure|yesno:"https,http" }}://{{ instance.get_departement.name }}.{{ request.META.SERVER_NAME }}:{{ request.META.SERVER_PORT }}";
                        instances["FR-{{ instance.get_departement.name }}"] = "http://{{ instance.get_departement.name }}.manifestationsportive.fr";
                    {% endfor %}
                </script>

            </div>
            <!-- eof 1e colonne -->

            <!-- bof 2e colonne -->
            <div class="col-md-8">

                <!-- bof ligne de titre -->
                <div class="row background-contrast">
                    <div class="col-md-6">

                        <div class="cadre-blanc">
                            <h1 class="text-center h1-home">
                                MANIFESTATIONS SPORTIVES<br/>
                                <strong>PLATEFORME {{ INSTANCE.get_departement_name }}</strong>
                            </h1>
                        </div>

                    </div>
                    <div class="col-md-6 d-none d-md-block">

                        <div class="cadre-blanc cadre-rf">
                            <img alt="Logo République Française"
                                 src="{% static 'portail/img/Logo_de_la_Republique_francaise_102x60.png' %}">
                            <span class="cadre-rf-text">Ministère des Sports</span>
                        </div>

                    </div>
                </div>
                <!-- eof ligne de titre -->

                <!-- bof ligne de boutons dynamiques -->
                <div class="row">
                    <div class="col-lg button-home">
                    {% if not IS_MASTER %}
                        <a href="{% url 'portail:calendar' %}" class="btn btn-block" role="button">
                            <i class="date"></i>
                            <h2 class="text-center h2-home">Calendrier</h2>
                            <span class="">Les manifestations sportives sur le département</span>
                        </a>
                    {%  else %}
                        <a href="{% url 'portail:calendar' %}?dep=master" class="btn btn-block" role="button">
                            <i class="date"></i>
                            <h2 class="text-center h2-home">Calendrier</h2>
                            <span class="">Les manifestations sportives dans chaque département</span>
                        </a>
                    {% endif %}
                    </div>
                {% if not user.is_authenticated %}
                    <div class="col-lg  button-home">
                        <a href="{% url 'inscription_organisateur' %}" class="btn btn-block" role="button">
                            <i class="sincrire"></i>
                            <h2 class="text-center h2-home">Inscription</h2>
                            <span class="">Organisateurs d'évenements sportifs, inscrivez-vous !</span>
                        </a>
                    </div>
                {% endif %}
                    <div class="col-lg button-home">
                        <a href="{% url "aide:help-page" path="sommaire" %}" class="btn btn-block" role="button">
                            <i class="aide"></i>
                            <h2 class="text-center h2-home">Aide & infos</h2>
                            <span class="text-center">Espace dédié aux organisateurs, fédérations et services instructeurs</span>
                        </a>
                    </div>
                </div>
                <!-- bof ligne de boutons dynamiques -->

            </div>
            <!-- bof 2e colonne -->

        </div>
        </div>
        <!-- bof contenu -->


    <script src="{% static 'portail/js/homepage.js' %}" type="text/javascript"></script>

    {% endblock %}
{% endblock %}
