{% extends "base.html" %}


{% load i18n %}

{% block head_title %}
    Tableau de bord
{% endblock %}

{% block page_title %}
    <h1><i class="tableau-de-bord"></i> Tableau de bord<a href="{% url 'sub_agreements:archives' %}">
        <span class="float-right badge badge-primary attendre-archive"><i class="archive"></i>Archives</span></a></h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h3><i class="preavis"></i> Pré-avis demandés</h3>
            <div class="card ">
                <div class="list-group">
                    {% for sub_agreement in object_list %}
                        <a class="list-group-item list-group-item-action
                            {% if sub_agreement.state == 'acknowledged' %}
                                list-group-item-success
                            {% elif sub_agreement.state == 'notified' %}
                                list-group-item-warning
                            {% elif sub_agreement.state == 'created' %}
                                list-group-item-danger
                            {% endif %}
                            "
                            {% block subagreement_item %}{% endblock %}>
                            {{ sub_agreement.avis.authorization.manifestation.begin_date|date:"d/m/Y" }} : {{ sub_agreement }}<br>
                            <small><i class="carto"></i>  {{ sub_agreement.avis.authorization.manifestation.departure_city }}
                            <span class="pipe_separator"></span><i class="activite"></i> {{ sub_agreement.avis.authorization.manifestation.activite }}</small>
                            {% if sub_agreement.state == "acknowledged" %}
                                <span class="badge badge-success top-right"><i class="ok-blanc"></i></span>
                            {% endif %}
                        </a>
                    {% empty %}
                        <a class="list-group-item disabled">Aucune demande de pré-avis à traiter</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {% include "notifications/actions_list.html" %}
        </div>
        <div class="col-sm-6">
            {% include "notifications/notifications_list.html" %}
        </div>
    </div>
{% endblock %}
