{% extends "sub_agreements/preavis_detail.html" %}

{% load i18n %}

{% block agreement_actions %}
    {% if object.state == 'created' or object.state == 'notified' %}
        <a href="{% url 'sub_agreements:notify_brigades' pk=object.id %}" class="btn" role="button">
            <i class="envoyer"></i> Informer les brigades concernées
        </a>
    {% endif %}
    {% if object.state == 'notified' %}
        <a href="{% url 'sub_agreements:cgd_subagreement_acknowledge' pk=object.id %}" class="btn" role="button">
            <i class="preavis"></i> Rendre le pré-avis
        </a>
    {% endif %}
{% endblock %}
