{% extends "base.html" %}

{% load i18n %}

{% block head_title %}
{% endblock %}

{% block page_title %}
    <div class="row">
        <div class="col-sm-2">
            <i class="autorisation"></i> Autorisation <br>
            <i class="date"></i> {{ object.authorization.manifestation.begin_date|date:"d/m/Y" }}
        </div>
        <div class="col-sm-7">
            <i class="structure"></i> {{ object.authorization.manifestation.structure|capfirst }} <br>
            <i class="dossier"></i> {{ object.authorization.manifestation|capfirst }}
        </div>
        <div class="col-sm-3 text-right">
            {% include 'events/event_picto.html' %}
        </div>
    </div>

    {% ifequal object.state 'created' %}
        {% if not object.delay_exceeded %}
            <div class="alert alert-warning">
                <p><strong>Attention ! </strong>
                    Vous avez jusqu'au {{ object.get_deadline|date:'d F Y' }}, pour rendre votre avis
                </p>
            </div>
        {% else %}
            <div class="alert alert-danger">
                <p><strong>Attention ! Vous aviez jusqu'au {{ object.get_deadline|date:'d F Y' }}, pour rendre votre avis.</strong><br/>
                    Cette date est maintenant dépassée mais vous pouvez cependant encore le faire.
                </p>
            </div>
        {% endif %}
    {% endifequal %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#agreement" data-toggle="pill"><i class="avis"></i> Avis</a></li>
                <li class="nav-item"><a class="nav-link" href="#event" data-toggle="pill"><i class="detail"></i>
                    Détail de la manifestation</a></li>
                {% include 'events/event_tabs.html' with object=object.authorization.manifestation %}
            </ul>
            <div class="tab-content">
                <div id="agreement" class="tab-pane fade show active">
                    <div class="row">
                        <div class="col-6 text-left">
                            <br><br>
                            <i class="avis"></i> &rarr; Avis<br>
                            <i class="preavis"></i> &rarr; Préavis<br><br>
                        </div>
                        <div class="col-6 text-right">
                            En attente de réponse &rarr; <i class="attente left-margin"></i><br>
                            Réponse favorable &rarr; <i class="ok left-margin"></i><br>
                            Réponse non favorable &rarr; <i class="pas-ok left-margin"></i><br>
                            Présence de prescriptions &rarr; <i class="commentaire left-margin"></i><br><br>
                        </div>
                    </div>
                    <div id="accordion">
                        {% include 'agreements/avis_description.html' %}
                        {% for sub_agreement in object.preavis.all %}
                            {% if sub_agreement.preaviscgd %}
                                {% include 'agreements/avis_description.html' with object=sub_agreement.preaviscgd %}
                            {% elif sub_agreement.preavisservicecg %}
                                {% include 'agreements/avis_description.html' with object=sub_agreement.preavisservicecg %}
                            {% elif sub_agreement.preaviscommissariat %}
                                {% include 'agreements/avis_description.html' with object=sub_agreement.preaviscommissariat %}
                            {% elif sub_agreement.preaviscompagnie %}
                                {% include 'agreements/avis_description.html' with object=sub_agreement.preaviscompagnie %}
                            {% elif sub_agreement.preavisedsr %}
                                {% include 'agreements/avis_description.html' with object=sub_agreement.preavisedsr %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% include 'events/event_panel_instructor.html' with object=object.authorization.manifestation %}
            </div>
        </div>
        <div class="col-sm-4">
            {% if object.authorization.state == 'published' and object.authorization.bylaw %}
                <div class="card">
                    <div class="card-header bg-primary">
                        L'arrêté a été publié
                    </div>
                    <div class="card-body">
                        <p>Vous pouvez le télécharger en cliquant sur le lien ci-dessous</p>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="{{ object.authorization.bylaw.url }}" target='_blank'>Arrêté</a></li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="card">
                    <div class="card-header bg-primary">
                        <i class="action"></i> Actions disponibles
                    </div>
                    <div class="card-body">
                        <p>Voici les actions disponibles relatives à cette manifestation</p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                {% block agreement_actions %}{% endblock %}
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
            <a href="{% url 'agreements:dashboard' %}" class="btn btn-outline-secondary btn-fill mt-4" role="button">
                <i class="retour"></i> Revenir au tableau de bord <i class="tableau-de-bord left-margin"></i>
            </a>
        </div>
    </div>
{% endblock %}
