{% extends "agreements/avis_detail.html" %}

{% load i18n %}

{% block agreement_actions %}
    {% if object.state == 'created' %}
        <a href="{% url 'agreements:ddsp_agreement_dispatch' pk=object.id %}" class="btn" role="button">
            <i class="envoyer"></i> Envoyer les demandes de pré-avis
            <i class="preavis left-margin"></i>
        </a>
    {% elif object.state == 'dispatched' %}
        {% if object.are_preavis_validated %}
            <a href="{% url 'agreements:ddsp_agreement_acknowledge' pk=object.id %}" class="btn" role="button">
                <i class="avis"></i> Rendre l'avis
            </a>
        {% endif %}
    {% endif %}
{% endblock %}
