{% extends "base_form.html" %}

{% block head_title %}
    Passer l'avis à un EDSR
{% endblock %}

{% block page_title %}
    <h1><i class="avis"></i> Passer l'avis à un EDSR : {{ object.authorization.manifestation|capfirst }}</h1>
{% endblock %}
