{% extends "base.html" %}
{% load i18n %}

{% block title %}Accès refusé{% endblock %}

{% block content %}

    <h2>Accès refusé !</h2>

    <div class="jumbotron">
        <h1 class="display-4">Oups, c'est plutôt embêtant !</h1>
        <p class="lead">Vous n'avez pas accès à cette page.</p>
        <hr class="my-4">
        <p>Soit vous vous êtes égaré, soit vous cherchez à pirater la plateforme, soit vous n'êtes pas inscrit dans la bonne équipe... dans tous les cas, cette "porte fermée" a été signalée par email à l'équipe technique.</p>
        <p>({{ message }})</p>
        <a class="btn btn-primary btn-lg" href="{% url 'portail:home_page' %}" role="button">Retour à l'accueil...</a>
    </div>

{% endblock %}
