{% comment %}
    Ce template centralise l'affichage des icônes liées au délai d'un dossier.
    À utiliser ainsi :
             {% with object.manif as manif %}
                 {% include 'evenements/pictos/delai.html' %}
             {% endwith %}
{% endcomment %}


{% load i18n verbose_tags %}

{% if manif %}
    {% with manif.get_cerfa.delai_en_cours as delai %}
        {% if delai == 0 and not manif.date_depassee %}<i class="delai-6-0j"></i>{% endif %}
        {% if delai == 6 %}<i class="delai-21-6j"></i>{% endif %}
        {% if delai == 21 %}
            {% with manif.get_cerfa.delaiDepot as depot %}
                {% if depot == 90 %}<i class="delai-90-21j"></i>{% endif %}
                {% if depot == 60 %}<i class="delai-60-21j"></i>{% endif %}
                {% if depot == 30 %}<i class="delai-30-21j"></i>{% endif %}
            {% endwith %}
        {% endif %}
        {% if delai == 30 %}<i class="delai-30j"></i>{% endif %}
        {% if delai == 60 %}<i class="delai-60j"></i>{% endif %}
        {% if delai == 90 %}<i class="delai-90j"></i>{% endif %}
    {% endwith %}
{% endif %}