{% comment %}
    Ce template centralise l'affichage des icônes liées à l'état d'un dossier.
    À utiliser ainsi :
             {% with object.manif as manif %}
                 {% include 'evenements/pictos/etat.html' %}
             {% endwith %}
{% endcomment %}


{% load i18n verbose_tags instruction_tags %}

{% if user_is_instructeur %}
    {% with instruction=manif.instruction %}
        {% if instruction.etat == 'demandée' %}<i class="demandee fa-lg"></i>{% endif %}
        {% if instruction.etat == 'distribuée' %}<i class="distribuee fa-lg"></i>{% endif %}
        {% if instruction.etat == 'autorisée' %}<i class="autorisee fa-lg"></i>{% endif %}
        {% if instruction.etat == 'interdite' %}<i class="interdite fa-lg"></i>{% endif %}
        {% if instruction.etat == 'annulée' %}<i class="annulee fa-lg"></i>{% endif %}
        {% if not instruction.etat == 'demandée' %}
            {% if not instruction.avis_tous_rendus %}
                <br>
                <span class="badge badge-secondary">{{ instruction.get_nb_avis_non_rendus }}&nbsp; avis manquants</span>
            {% endif %}
        {% endif %}
    {% endwith %}
{% elif user.agent %}
    {% with avis=manif.instruction|avis:user %}
        {% if manif.instruction.etat != 'interdite' and manif.instruction.etat != 'annulée' %}
            {% if avis.etat == 'rendu' and avis.favorable %}
                <i class="autorisee" data-titre="Avis favorable rendu"
                   data-selection="Avis favorable"></i>{% endif %}
            {% if avis.etat == 'rendu' and not avis.favorable %}
                <i class="interdite" data-titre="Avis défavorable rendu"
                   data-selection="Avis défavorable"></i>{% endif %}
            {% if avis.etat == 'transmis' %}<i class="envoyer" data-titre="Avis transmis à l'EDSR"
                                               data-selection="Avis transmis"></i>{% endif %}
            {% if avis.etat == 'formaté' %}
                <i class="editer" data-titre="Avis formaté" data-selection="Avis formaté"></i>
            {% endif %}
            {% if avis.etat == 'distribué' %}
                <i class="distribuee" data-titre="Demandes de préavis envoyées"
                   data-selection="Avis distribué"></i>{% endif %}
            {% if avis.etat == 'demandé' %}
                <i class="demandee" data-titre="Avis demandé par l'instructeur"
                   data-selection="Avis demandé"></i>{% endif %}
            {% if avis.get_jours_restants_avant_limite.days > 0 and not avis.etat == 'rendu' %}
                <br>
                <span class="badge badge-secondary">Délai : {{ avis.get_jours_restants_avant_limite.days }} jours</span>
            {% endif %}
            {% if avis.get_nb_preavis_a_rendre > 0 %}
                <br>
                <span class="badge badge-secondary">{{ avis.get_nb_preavis_a_rendre }} préavis manquants</span>
            {% endif %}
        {% elif manif.instruction.etat == 'interdite' %}
            <i class="interdite" data-titre="Manifestation interdite" data-selection="Manifestation interdite"></i>
        {% else %}
            <i class="annulee" data-titre="Manifestation annulée" data-selection="Manifestation annulée"></i>
        {% endif %}
    {% endwith %}
{% elif user.agentlocal %}
    {% with preavis=manif.instruction|preavis:user %}
        {% if manif.instruction.etat != 'interdite' and manif.instruction.etat != 'annulée' %}
            {% if preavis.etat == 'rendu' and preavis.favorable %}
                <i class="autorisee" data-titre="Préavis favorable rendu"
                   data-selection="Préavis favorable"></i>{% endif %}
            {% if preavis.etat == 'rendu' and not preavis.favorable %}
                <i class="interdite" data-titre="Préavis défavorable rendu"
                   data-selection="Préavis défavorable"></i>{% endif %}
            {% if preavis.etat == 'notifié' %}
                <i class="notifier" data-titre="Préavis notifié aux brigades"
                   data-selection="Préavis notifié"></i>{% endif %}
            {% if preavis.etat == 'demandé' %}
                <i class="demandee" data-titre="Préavis demandé" data-selection="Préavis demandé"></i>
            {% endif %}
        {% elif manif.instruction.etat == 'interdite' %}
            <i class="interdite" data-titre="Manifestation interdite" data-selection="Manifestation interdite"></i>
        {% else %}
            <i class="annulee" data-titre="Manifestation annulée" data-selection="Manifestation annulée"></i>
        {% endif %}
    {% endwith %}
{% elif user.organisateur %}
    {% with instruction=manif.instruction %}
        {% if not instruction %}<i class="en-edition fa-lg text-warning"></i>{% endif %}
        {% if instruction.etat == 'demandée' %}<i class="demandee fa-lg text-info"></i>{% endif %}
        {% if instruction.etat == 'distribuée' %}<i class="distribuee fa-lg"></i>{% endif %}
        {% if instruction.etat == 'autorisée' %}<i class="autorisee fa-lg"></i>{% endif %}
        {% if instruction.etat == 'interdite' %}<i class="interdite fa-lg"></i>{% endif %}
        {% if instruction.etat == 'annulée' %}<i class="annulee fa-lg"></i>{% endif %}
    {% endwith %}
{% else %}
    {% with instruction=manif.instruction %}
        {% if not instruction %}<i class="en-edition fa-lg"></i>{% endif %}
        {% if instruction.etat == 'demandée' %}<i class="demandee fa-lg"></i>{% endif %}
        {% if instruction.etat == 'distribuée' %}<i class="distribuee fa-lg"></i>{% endif %}
        {% if instruction.etat == 'autorisée' %}<i class="autorisee fa-lg"></i>{% endif %}
        {% if instruction.etat == 'interdite' %}<i class="interdite fa-lg"></i>{% endif %}
        {% if instruction.etat == 'annulée' %}<i class="annulee fa-lg"></i>{% endif %}
    {% endwith %}
{% endif %}