{% comment %}
    Ce template centralise l'affichage des icônes liées à la nature d'un dossier.
    À utiliser ainsi :
             {% with object.manif as manif %}
                 {% include 'evenements/pictos/type_evenement.html' %}
             {% endwith %}
{% endcomment %}


{% load i18n verbose_tags %}

{% with manif.get_type_manif as maniftype %}
    {% if manif %}
        <span title="{{ manif.get_cerfa|verbose_name|capfirst }}<br>{{ manif.get_cerfa.refCerfa }}" data-toggle="tooltip">
        {% if maniftype == 'dnm' or maniftype == 'dnmc' or maniftype == 'dcnm' or maniftype == 'dcnmc' or maniftype == 'dvtm' %}
            <i class="declaration"></i>
            <span hidden>{{ manif.get_cerfa|verbose_name|capfirst }}</span>
        {% endif %}


        {% if maniftype == 'avtm' or maniftype == 'avtmcir' %}
            <i class="autorisation"></i>
            <span hidden>{{ manif.get_cerfa|verbose_name|capfirst }}</span>
        {% endif %}
        </span>
    {% else %}
        <span title="{{ verbose|capfirst }}<br>{{ cerfa }}" data-toggle="tooltip">
        {% if type == 'avtm' or type == 'avtmcir' %}
            <i class="autorisation"></i>
        {% else %}
            <i class="declaration"></i>
        {% endif %}
        </span>
    {% endif %}

    {% if maniftype == 'dnm' or maniftype == 'dnmc' or type == 'dnm' or type == 'dnmc' %}
        <i class="sans-vtm"></i>
        <i class="voie-publique"></i>
        <i class="sans-competition"></i>
    {% endif %}
    {% if maniftype == 'dnmc' or type == 'dnmc' %}
        <i class="cyclisme"></i>
    {% endif %}

    {% if maniftype == 'dcnm' or maniftype == 'dcnmc' or type == 'dcnm' or type == 'dcnmc' %}
        <i class="sans-vtm"></i>
        <i class="voie-publique"></i>
        <i class="competition"></i>
    {% endif %}
    {% if maniftype == 'dcnmc' or type == 'dcnmc' %}
        <i class="cyclisme"></i>
    {% endif %}

    {% if maniftype == 'avtm' or type == 'avtm' %}
        {% if manif.voie_publique %}
            <i class="vtm"></i>
            <i class="voie-publique"></i>
            <i class="competition"></i>
        {% elif manif.circuit_non_permanent %}
            <i class="vtm"></i>
            <i class="hors-voie-publique"></i>
            <i class="circuit-non-perm"></i>
        {% else %}
            <i class="vtm"></i>
            <i class="hors-voie-publique"></i>
            <i class="circuit-non-homologue"></i>
        {% endif %}
    {% endif %}

    {% if maniftype == 'dvtm' or type == 'dvtm' %}
        <i class="vtm"></i>
        <i class="voie-publique"></i>
        <i class="sans-competition"></i>
    {% endif %}

    {% if maniftype == 'avtmcir' or type == 'avtmcir' %}
        <i class="vtm"></i>
        <i class="hors-voie-publique"></i>
        <i class="circuit-homologue"></i>
    {% endif %}

    {% if manif.nb_participants > 2000 %}
        <i class="nombreux-participants"></i>
    {% endif %}

    {% if manif.n2kevaluation or manif.rnrevaluation %}
        <i class="feuille-verte"></i>
    {% endif %}

{% endwith %}