{% load i18n %}
{% if object.afficher_panneau_eval_rnr %}

    <div class="card-header">
        <i class="feuille"></i>
        <a href="{% url 'evaluation_incidence:rnreval_add' manif_pk=object.id %}" role="button">
            Effectuer une évaluation RNR
        </a>
    </div>
    <div class="card-body pt-2">
        <div class="alert alert-warning mb-0">
            <strong>Attention ! </strong> Avant de remplir ce formulaire, vous DEVEZ contacter l'administrateur de la
                zone RNR concernée :
            <a href="{% url 'evaluation_incidence:rnr_liste' dept=object.ville_depart.get_departement.name %}"
               target="_blank">
                <i class="feuille"></i>Liste des zones RNR et de leurs administrateurs
            </a>
        </div>
    </div>

{% endif %}

{% if object.afficher_panneau_eval_n2000 %}

    <div class="card-header">
        <i class="feuille"></i>
        <a href="{% url 'evaluation_incidence:n2keval_add' manif_pk=object.id %}" role="button">
            Effectuer une évaluation Natura 2000
        </a>
    </div>
    <div class="card-body pt-2">
        <p>Critères déclencheurs :<br>{{ cause }}</p>
        <div class="alert alert-warning mb-0">
            <strong>Attention ! </strong> Avant de remplir ce formulaire, vous DEVEZ contacter l'opérateur du ou des
                sites Natura2000 concernés :
            <a href="{% url 'evaluation_incidence:siten2k_liste' dept=object.ville_depart.get_departement.name %}"
               target="_blank"><i class="feuille"></i>Liste des opérateurs de sites Natura 2000
            </a>
        </div>
    </div>

{% endif %}
