{% load static i18n file_tags %}


<meta http-equiv="content-type" content="text/html; charset=utf-8">
<div class="head"><img src="{% static 'portail/img/Logo_vert.png' %}"/></div>

<h1>Manifestation : {{ manif }}</h1>




<div>
    <h2>Avis</h2>
    {% for avis in liste_avis %}
        <h3>{{ avis|capfirst }}</h3>
        <ul class="list-group">
            <li class="list-group-item">Date de demande de l'avis : {{ avis.date_demande }}</li>
            {% if avis.service_concerne == 'ggd' and avis.etat == 'transmis' %}
                <li class="list-group-item">L'avis a été délégué à {{ avis.get_instance.get_departement.edsr }}</li>
            {% endif %}
            {% if avis.etat == 'formaté' %}
                <li class="list-group-item">L'avis est en cours de finalisation</li>
            {% elif avis.etat == 'rendu' %}
                <li class="list-group-item">Date de rendu de l'avis : {{ avis.date_reponse|default_if_none:"Pas encore rendu" }}</li>
            {% else %}
                <li class="list-group-item">L'avis est en cours d'examen</li>
            {% endif %}
            {% if avis.etat == 'formaté' or avis.etat == 'rendu' %}
                <li class="list-group-item">Favorable : {{ avis.favorable|yesno|title }}</li>
                <li class="list-group-item">Contenu de l'avis: {{ avis.prescriptions|linebreaks }}</li>
            {% endif %}
            {% if avis.docs.all %}
                <div class="mt-2 mb-2">Pièces jointes :</div>
                {% for doc in avis.docs.all %}
                    <li class="list-group-item"> <a href="{{ doc.fichier.url }}" target="_blank">{{ doc.fichier|basename }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    {% endfor %}
</div>



<style>
    @page  {
        size: A4;
        margin: 1cm;
    }
    .head{
        padding: 0.3cm;
    }
    .list-group-item{
        margin: 0.4em;
    }
    .card-header{
      font-weight: bold;

    }


</style>