{% extends "base.html" %}
{% load static %}

{% load i18n l10n %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/DataTables/css/jquery.dataTables.css' %}">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" charset="utf8" src="{% static 'libs/DataTables/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'libs/DataTables/js/datetime-moment.js' %}"></script>
{% endblock %}

{% block head_title %}
    Tableau de bord
{% endblock %}

{% block page_title %}
    <h1><i class="tableau-de-bord left-margin"></i> Tableau de bord organisateur
            <a href="{% url 'events:dashboard' %}">
                    <span class="float-right btn btn-primary btn-sm" style=" margin-right: 15px;"><i class="historique"></i>Ancienne réglementation</span></a>
    </h1>
{% endblock %}

{% block content %}
    {% if request.user.organisateur.structure %}
        <p><a href="{% url 'evenements:creation_evenement' %}" class="btn btn-primary" role="button">
            <i class="ajouter"></i> Déclarer ou demander l'autorisation pour une nouvelle manifestation
        </a></p>
        <div class="card card-primary">
            <div class="card-header">
                <h2><i class="dossier"></i> Mes manifestations   <i class="ctx-help-mes_manifestations fas fa-info-circle"></i>
                <input class="form-control float-right w-25" id="search" placeholder="Rechercher"></h2>
            </div>
            <table id="manif-table" class="table-hover">
                <thead>
                    <tr>
                        <th>Formulaire</th>
                        <th>Date de début</th>
                        <th>Nom</th>
                        <th>Départ de</th>
                        <th>Délai</th>
                        <th>État</th>
                        <th>Complétude</th>
                        <th>Dernière action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for manif in object_list %}
                        {# onclick dans le <tr> ne marche pas avec bootstrap-table, voir script main. On passe l'url avec data-href #}
                        <tr class="{% if manif.get_cerfa.instruction %}
                                        {% if manif.get_cerfa.instruction.etat == 'interdite' %}
                                            table-danger
                                        {% elif manif.get_cerfa.instruction.etat == 'autorisée' %}
                                            table-success
                                        {% elif manif.get_cerfa.instruction.etat == 'annulée' %}
                                            table-secondary
                                        {% else %}
                                            table-info
                                        {% endif %}
                                    {% else %}
                                        table-warning
                                    {% endif %} clickligne"  data-href='{{ manif.get_cerfa.get_absolute_url }}'>
                            <td>{% include 'evenements/pictos/type_evenement.html' %}</td>
                            <td >{{ manif.date_debut| date:"d/m/Y" }}</td>
                            <td>{{ manif.nom }}</td>
                            <td>{{ manif.ville_depart }}</td>
                            <td>{% if manif.get_type_manif %}
                                {% include 'evenements/pictos/delai.html' %}
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% include 'evenements/pictos/etat.html' %}
                            </td>
                            <td>{% if manif.get_type_manif %}
                                    {% if manif.get_cerfa.dossier_complet %}
                                        {% if manif.instruction.doc_verif %}
                                            <i class="dossier-complet-verifie" data-nb_jour='{{ manif.get_cerfa.delai_en_cours }}'></i>
                                        {% else %}
                                            <i class="dossier-complet-non-verifie" data-nb_jour='{{ manif.get_cerfa.delai_en_cours }}'></i>
                                        {% endif %}
                                    {% else %}
                                        <i class="dossier-incomplet" data-nb_jour='{{ manif.get_cerfa.delai_en_cours }}'></i>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>{{ manif.actions.last.creation_date|date:"d/m/Y H:i" }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td></td>
                            <td>Aucune manifestation déclarée pour le moment</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="well">
            <p>Dans un premier temps, veuillez renseigner les informations relatives à la structure organisatrice de la manifestation sportive</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'events:structure_add' %}" class="btn btn-primary" role="button">
                    Accéder au formulaire de renseignement sur la structure organisatrice
                </a>
            </div>
        </div>
    {% endif %}
    <script>

            $('body').on('click', 'tr.clickligne', function (event) {
                window.location=$(this).data("href");
            });

        $(document).ready(function () {
            $.fn.dataTable.moment( 'DD/MM/YYYY' );
            $.fn.dataTable.moment( 'DD/MM/YYYY HH:mm');
            $('#manif-table').DataTable({
                "paging": false,
                "info": false,
            });
            $('.dataTables_filter').hide();

            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#manif-table tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}
