{% extends "evenements/evenement_form.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block head_title %}
    Organisation d'une manifestation sportive
{% endblock %}

{% block page_title %}
    <h1>Organisation d'une manifestation sportive</h1>
{% endblock %}

{% block form %}
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" id="manifestation-form">
        {% crispy form %}
        {{ form.media }}
        <div class="form-actions">
            <input id="submit-id-save" class="btn btn-primary" type="submit" value="Enregistrer" name="save">
            </input>
        </div>
    </form>
{% endblock %}

{% block content %}
    <div class="well">
        <p>Le département sélectionné précédemment n'est pas abonné à cette plateforme. Nous ne pourrons pas transmettre
            votre demande aux bons interlocuteurs. Toutefois, nous vous offrons la possibilité de référencer votre
            manifestation.</p>
        <p>
            En d'autres termes, cette plateforme permet à ce jour l'instruction des dossiers pour les manifestations
            se déroulant sur un seul département et sous condition que le département en question soit engagé dans cette
            procédure de
            dématérialisation. N'hésitez pas à prendre contact avec le service d'instruction de votre département pour
            de plus amples informations.
        </p>
    </div>
    {{ block.super }}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'libs/autogrow/jquery.ns-autogrow.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/jquery.liveValidation.js' %}" type="text/javascript"></script>
    <script src="{% static 'evenements/js/sansinstance-manifestation-form.js' %}" type="text/javascript"></script>
{% endblock %}
