{% extends "base_form.html" %}

{% load crispy_forms_tags %}
{% load i18n verbose_tags %}
{% load static %}

{% block head_title %}
    Organisation d'une manifestation sportive
{% endblock %}

{% block page_title %}
    {% if object.manifestation_ptr %}
        {% include 'evenements/pictos/type_evenement.html' with manif=object.manifestation_ptr%}
    {% else %}
        {% include 'evenements/pictos/type_evenement.html' with manif=object%}
    {% endif %}
    &nbsp;
    {% if form.target and form.target.pk %}
        {{ object.manifestation_ptr.get_cerfa|verbose_name|capfirst }}
        {{ object.get_cerfa|verbose_name|capfirst }} (selon
        {{ object.manifestation_ptr.get_cerfa.refCerfa }}{{ object.get_cerfa.refCerfa }})<br>
        Nom de la manifestation : <strong>{{ form.target }}</strong>
    {% else %}
        &nbsp;{{ verbose|capfirst }} (selon {{ cerfa }})
    {% endif %}
{% endblock %}

{% block form %}
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" id="manifestation-form">
        {% if form.target.id %}<input type="hidden" name="id" id="id_id" value="{{ form.target.id }}">{% endif %}
        {% crispy form %}
        {{ form.media }}
        <div class="form-actions">
            <input id="submit-id-save" class="btn btn-primary" type="submit" value="Enregistrer" name="save">
            {% if form.instance.id %}
                <a class="btn btn-danger" href="javascript:history.back()">Annuler</a>
            {% endif %}

        </div>
    </form>
{% endblock %}

{% block extra_js %}
     <script src='{% static "portail/js/file-validator.js" %}' type="text/javascript"></script>
    <script src='{% static "libs/autogrow/jquery.ns-autogrow.min.js" %}' type="text/javascript"></script>
    <script src='{% static "portail/js/jquery.liveValidation.js" %}' type="text/javascript"></script>
    <script src='{% static "evenements/js/manifestation_formulaire.js" %}' type="text/javascript"></script>
{% endblock %}
