{% extends "base.html" %}
{% load static %}

{% load i18n file_tags %}

{% block head_title %}
    {% if type == 'dnm' %}Manifestation sans Véhicules Terrestres à Moteur Soumise à Déclaration{% endif %}
    {% if type == 'dnmc' %}Manifestation de Cyclisme sans Véhicules Terrestres à Moteur Soumise à Déclaration{% endif %}
    {% if type == 'dcnm' %}Manifestation Compétitive sans Véhicules Terrestres à Moteur Soumise à Déclaration{% endif %}
    {% if type == 'dcnmc' %}Manifestation Compétitive de Cyclisme sans Véhicules Terrestres à Moteur Soumise à Déclaration{% endif %}
    {% if type == 'dvtm' %}Concentration de Véhicules Terrestres à Moteur{% endif %}
    {% if type == 'avtm' %}Manifestation Avec Véhicules Terrestres à Moteur{% endif %}
    {% if type == 'avtmcir' %}Manifestation sur Circuit, Terrain ou Parcours, Soumise à Autorisations{% endif %}
{% endblock %}

{% block resume %}
    {% include 'evenements/blocs/bandeau_resume.html' with manif=object %}
{% endblock %}

{% block fil_ariane %}

    <link href="{% static 'libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css' %}"
          type="text/css" media="all" rel="stylesheet">
    <link href="/static/bootstrap_datepicker_plus/css/datepicker-widget.css" type="text/css" media="all"
          rel="stylesheet">
    <script type="text/javascript"
            src="{% static 'libs/moment/moment-with-locales.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'libs/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="/static/bootstrap_datepicker_plus/js/datepicker-widget.js"></script>

    <div class='page-header'>
        <p class="text-muted"> Ce fil d'Ariane représente l'avancement de votre dossier.</p>
        <ul class="breadcrumb">
            {% for breadcrumb, done, href in object.get_breadcrumbs %}
                {% if done %}
                    <li>
                        {% if "Natura 2000" in breadcrumb %}
                            {% if object.natura2000evaluations and not object.natura2000evaluations.natura_2000_conclusion or object.n2kevaluation and not object.n2kevaluation.conclusion_natura_2000 %}
                                <div class="btn btn-warning center" >&nbsp;{{ breadcrumb|capfirst|safe }}<br>
                                    <i class="action-requise-blanc"></i>
                                    <i class="ctx-help-n2k-warning fas fa-info-circle" style="color: white"></i>
                                </div>
                            {%  else %}
                                <div class="btn btn-success center" >&nbsp;{{ breadcrumb|capfirst|safe }}<br>
                                    <span class="badge badge-light"><i class="ok-blanc no-right-margin"></i></span>
                                </div>
                            {% endif %}
                        {%  else %}
                            <div class="btn btn-success center" >&nbsp;{{ breadcrumb|capfirst|safe }}<br>
                                <span class="badge badge-light"><i class="ok-blanc no-right-margin"></i></span>
                                {% if "Envoi" in breadcrumb %}
                                    <small style="margin-left: 10px;">{{ object.instruction.date_creation|date:"d/m/Y" }}</small>
                                {% endif %}
                            </div>
                        {% endif %}
                    </li>
                {% else %}
                    {% if href %}
                        <a href="{{ href }}" {% if '#' in href %}data-trigger="tab"{% endif %}>
                    {% endif %}
                    <li><div class="btn btn-danger center" >
                       {{ breadcrumb|capfirst|safe }}<br>
                        <i class="action-requise-blanc"></i>
                    </div></li>
                    {% if href %}</a>{% endif %}
                {% endif %}
                {% if not forloop.last %}
                    <li class="vertical-align mr-0"><i class="suivant"></i></li>
                {% endif %}
            {% endfor %}
            {% if object.en_cours_instruction %}
                <li class="vertical-align mr-0"><i class="suivant"></i></li>
                {% if object.get_docs_complementaires_manquants.exists %}
                    <a href="#additionaldata" data-trigger="tab">
                        <li><div class="btn btn-danger" >
                            <i class="info-compl"></i>Informations complémentaires<br>
                            <i class="action-requise-blanc"></i>
                        </div></li>
                    </a>
                    <li class="vertical-align mr-0"><i class="suivant"></i></li>
                {% endif %}
                {% if object.instruction.etat == 'autorisée' %}
                    <li><div class="btn btn-success">
                        <i class="ok-blanc float-left"></i>&nbsp;Demande acceptée<br>
                        <span class="badge badge-light"><i class="ok-blanc no-right-margin"></i></span>
                    </div></li>
                {% elif object.instruction.etat == 'interdite' %}
                    <li><div class="btn btn-danger" >
                        <i class="pas-ok-blanc float-left"></i>&nbsp;Demande rejetée<br>
                        <i class="action-requise-blanc"></i>
                    </div></li>
                {% elif object.instruction.etat == 'annulée' %}
                    <li><div class="btn btn-danger" >
                        <i class="annulee float-left"></i>&nbsp;Demande annulée<br>
                        <i class="action-requise-blanc"></i>
                    </div></li>
                {% else %}
                    <li><div class="btn instruction  h-100 text-white" >
                        <i class="attente-blanc "></i>Instruction en cours <br/>
                        <div class="progress bg-white">
                            <div class="progress-bar bg-success" role="progressbar" style="width:{{ progres }}%; color: white;" aria-valuenow="{{ progres }}" aria-valuemin="0" aria-valuemax="100">&nbsp;{{ progres }}%</div>
                        </div></div></li>
                {% endif %}
                {% if object.instruction.documents.exists %}
                    <a href="#officialdata" data-trigger="tab" style="margin-left: auto; margin-right: 0">
                        <li><div class="btn btn-outline-secondary official bg-dark text-white">
                            Documents officiels publiés<br/><i class="{{ object.instruction.documents.last.get_nature_icon }}"></i> {{ object.instruction.documents.last.get_nature_nom }}
                        </div></li>
                    </a>
                {% endif %}
            {% endif %}
        </ul>
        {% if not object.instruction.id %}
            {% include 'evenements/blocs/bandeau_delai_manif.html' %}
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="tab-list col-sm-12">
            <ul class="nav nav-tabs" id="onglet">
                <li class="nav-item"><a class="nav-link active" href="#event" data-toggle="tab">
                    <i class="detail"></i> Détail de la manifestation</a></li>
                {% include 'evenements/panneaux/onglets.html' %}
            </ul>
        </div>
        <div class="col-sm-8">
            <div class="tab-content">
                {% include 'evenements/panneaux/organisateur.html' %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-danger mb-3 side">
                <div class="card-header bg-danger text-white">
                    <i class="action-requise-blanc"></i>Actions requises
                </div>
                {% include 'evenements/side_bar/evaluations_environnementales.html' %}
                {% if declarer %}
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{% url 'instructions:instruction_add' manif_pk=object.id %}" class="btn" role="button">
                                <i class="envoyer"></i> Envoyer la demande
                            </a>
                        </li>
                    </ul>
                {% endif %}

                {% if formulaire_manquant %}
                    <div class="card-header mb-2">
                        <i class="detail"></i>
                    <a href="{{ object.get_absolute_url }}edit/?dept={{ object.get_departement_depart_nom }}">Le détail de la manifestation est incomplet</a>
                    </div>
                {% endif %}

                {% if carto_manquant %}
                    <div class="card-header mb-2">
                        <i class="carto"></i>
                    <a href="#descriptioncarto" class="carto_update" data-trigger="tab">Cartographie non renseignée</a>
                    </div>
                {% endif %}

                {% if rnr_manquant %}
                    <div class="card-header mb-2">
                        <i class="feuille"></i>
                    <a href="{% url 'evaluation_incidence:rnreval_update' pk=object.rnrevaluation.pk %}">Formulaire EI RNR incomplet</a>
                    </div>
                {% endif %}

                {% if n2k_manquant %}
                    <div class="card-header mb-2">
                        <i class="feuille"></i>
                    <a href="{% url 'evaluation_incidence:n2keval_update' pk=object.n2kevaluation.pk %}">Formulaire EI Natura 2000 incomplet</a>
                    </div>
                {% endif %}

                {% if manquants %}
                    <div class="card-header">
                        <i class="doc"></i>Des pièces jointes manquent au dossier
                    </div>
                    <div class="card-body pt-2">
                        <p>Liste des pièces jointes manquantes<br>
                            {% if delta %}
                                <p style="color: red;">Vous êtes en retard de {{ delta }} jours !<br>
                                    Vous risquez un arrêté d'interdiction.</p>
                            {% else %}
                                avant le {{ object.date_limite_etape_en_cours|date:"l j F Y"}} :
                            {% endif %}
                        </p>
                        <ul>
                            {% for fichier in object.liste_manquants %}
                                <li><a href="#pieceajoindre" data-trigger="tab">{{ fichier }}</a></li>
                            {% endfor %}
                        </ul>
                        {% if not object.instruction.id %}
                            Une fois ces pièces jointes au dossier, vous serez en mesure d'envoyer votre demande.
                        {% endif %}
                    </div>
                {% endif %}
                {% if toutbon %}
                    <div class="card-body">
                        <p>Pas d'actions requises</p>
                    </div>
                {% endif %}
                {% if object.get_docs_complementaires_manquants.exists %}
                        <div class="card-header">
                            <i class="doc"></i>Des informations complémentaires sont requises par le service instructeur du dossier
                        </div>
                        <div class="card-body pt-2">
                            <p>Veuillez fournir les documents dont la liste est affichée ci-dessous pour que l'instruction de votre dossier puisse continuer</p>
                            <ul class="list-group">
                                {% for additional_data in object.get_docs_complementaires_manquants %}
                                    <li class="list-group-item">
                                        <a href="#additionaldata" data-trigger="tab">{{ additional_data }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    <br>
                {% endif %}
            </div>
            <div class="card liste-actions mb-3">
                <div class="card-header bg-primary">
                    <i class="action"></i> Actions disponibles
                </div>
                <div class="card-body">
                    <ul class="list-no-style">
                        <li><a href="#" id="divexport" role="button"><i class="telecharger"></i>Exporter cette manifestation</a></li>
                        <div id="divexport_content" style="display: none;">
                            <li class="ml-4">Rappel : votre responsabilité est engagée en cas de divulgation d'informations (notamment des données personnelles).</li>
                            <li class="ml-4"><a class="export_lien" href="{% url 'evenements:export_manif_organisateur' pk=object.pk %}" role="button"><i class="pdf"></i>Exporter en fichier PDF</a></li>
                            <li class="ml-4"><a class="export_lien" href="{% url 'evenements:export_manif_organisateur' pk=object.pk %}?zip=1" role="button"><i class="archive"></i>Exporter en archive ZIP</a></li>
                            <li id="export_lien_attente" class="ml-4" style="display: none"><i class="spinner"></i>Veuillez patientez, la plateforme est en train de créer votre fichier</li>
                        </div>
                        <li><a href="#" id="formcopy" role="button"><i class="dupliquer"></i>Créer un nouveau dossier à partir de celui-ci</a></li>
                        <div id="formcopy_content" style="display: none;">
                            <form method="post" action="{% url 'evenements:creation_ancien' %}">{% csrf_token %}
                                <div>
                                    <input value="{{ object.pk }}" id="ancien_manif" name="ancien_manif" style="display: none">
                                    <div id="ancien_manif_extra">
                                        <div class="input-group" style="margin: 0.5em 0">
                                            <div class="input-group-prepend"><span class="input-group-text">Nom</span></div>
                                            <input type="text" name="nouveau_nom" id="nouveau_nom" style="height: auto;" class="requis form-control" title="Nom de la nouvelle manifestation">
                                        </div>

                                        <div class="input-group date" style="margin: 0.5em 0">
                                            <div class="input-group-prepend"><span class="input-group-text">Début</span></div>
                                            <input type="text" style="height: auto;" name="date_debut"
                                                   class="requis form-control datetimepickerinput form-control" id="id_date_debut"
                                                   dp_config="{&quot;id&quot;: &quot;dp_4&quot;, &quot;picker_type&quot;: &quot;DATETIME&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: true, &quot;format&quot;: &quot;DD/MM/YYYY HH:mm&quot;, &quot;defaultDate&quot;: &quot;06/11/2020 8:00&quot;, &quot;locale&quot;: &quot;fr&quot;}}">
                                            <div class="input-group-addon input-group-append" data-target="#datetimepicker1"
                                                 data-toggle="datetimepickerv">
                                                <div class="input-group-text"><i class="glyphicon glyphicon-calendar"></i></div>
                                            </div>
                                        </div>

                                        <div class="input-group date" style="margin: 0.5em 0">
                                            <div class="input-group-prepend"><span class="input-group-text">Fin</span></div>
                                            <input type="text" style="height: auto;" name="date_fin"
                                                   class="requis form-control datetimepickerinput form-control" id="id_date_fin"
                                                   dp_config="{&quot;id&quot;: &quot;dp_5&quot;, &quot;picker_type&quot;: &quot;DATETIME&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: true, &quot;format&quot;: &quot;DD/MM/YYYY HH:mm&quot;, &quot;defaultDate&quot;: &quot;06/11/2020 20:00&quot;, &quot;locale&quot;: &quot;fr&quot;}}">
                                            <div class="input-group-addon input-group-append" data-target="#datetimepicker1"
                                                 data-toggle="datetimepickerv">
                                                <div class="input-group-text"><i class="glyphicon glyphicon-calendar"></i></div>
                                            </div>
                                        </div>
                                        <input type="submit" value="Créer puis afficher" class="btn btn-success btn-fill" id="ancien_go">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <li><a href="/aide/annuler-une-manifestation" role="button"><i class="annuler"></i>Annuler cette manifestation</a></li>
                        {% if not object.n2kevaluation and not object.afficher_panneau_eval_n2000 and not object.instruction %}
                            <li><a href="#" class="formeval" role="button"><i class="ajouter"></i> Effectuer une évaluation Natura 2000</a></li>
                            <div id="demandeeval" class="card d-none mb-3">
                                <div class="card-header bg-primary">
                                    Effectuer une évaluation Natura 2000
                                </div>
                                <div class="alert alert-warning">
                                    <p><strong>Attention ! </strong> Avant de remplir ce formulaire, vous DEVEZ contacter l'opérateur du ou des sites Natura2000 concernés :
                                        <a href="{% url 'evaluation_incidence:siten2k_liste' dept=object.ville_depart.get_departement.name %}" target="_blank">
                                            Liste des opérateurs de sites Natura 2000
                                        </a>
                                    </p>
                                </div>
                                <div id="demandeeval_content" class="card-body"></div>
                            </div>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <a href="{% url 'evenements:tableau-de-bord-organisateur' %}" class="btn btn-outline-secondary btn-fill" role="button">
                <i class="retour"></i> Revenir au tableau de bord
                <i class="tableau-de-bord left-margin"></i>
            </a>
        </div>
    </div>

    <script>
        $('document').ready(function () {

            // Changer la couleur de la carte "Actions requises" si pas d'actions
            if($('.card.side .card-body').text().match('Pas d\'actions requises')) {
                $('.card.side .card-header').removeClass('bd-danger').addClass('bg-primary');
                $('.card.side').removeClass('border-danger');
            }

            // This function gets cookie with a given name
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

            /*
            The functions below will create a header with csrftoken
            */

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            function sameOrigin(url) {
                // test that a given url is a same-origin URL
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                        // Send the token to same-origin, relative URLs only.
                        // Send the token only if the method warrants CSRF protection
                        // Using the CSRFToken value acquired earlier
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            // Charger les informations complémentaires et leur formulaire si pas répondu
            $('#doccomple').click(function (e) {
                $.get("{% url 'evenements:repondre_doc_complementaire' pk=object.pk %}", function (data) {
                    $('.doc-comple').html(data);
                });
            });
            // Permet de changer d'onglet en dehors de <ul> nav-tabs
            $( '[data-trigger="tab"]' ).click( function( e ) {
                var href = $( this ).attr( 'href' );
                e.preventDefault();
                $( '[data-toggle="tab"][href="' + href + '"]' ).trigger( 'click' );
            } );
            // Charger le formulaire des fichiers à joindre pour la manif
            $('#pieceajoindreajax').click(function (e) {
                $.get("{{ object.get_absolute_url }}edit_files/",function (data) {
                    $('.pieceajoindre').html(data);
                });
            });
            // Changer pour l'onglet documents officiels
            $('.official').on('click', function (e) {
                e.preventDefault();
                $('#onglet a[href="#officialdata"]').tab('show');
            });
            $('#formcopy').on('click', function (e) {
                e.preventDefault();
                $('#formcopy_content').toggle("slow");
            });
            $('#divexport').on('click', function (e) {
                e.preventDefault();
                $('#divexport_content').toggle("slow");
            });
            $('#reprise').on('click',function (e) {
                e.preventDefault();
                let code = '{{ object.ville_depart.get_departement }}';
                let type = '{{ object.get_type_manif }}'.charAt(0).toUpperCase()+'{{ object.get_type_manif }}'.slice(1);
                let url = location.protocol + '//' + location.host + '/' + type + '/add/?dept=' + code.split(' ')[0] + '&manif={{ object.pk }}';
                window.location.href = url
            });
            // Envoi de la demande d'évalualtion
            $('body').on('submit', '#demandereval', function(event){
                event.preventDefault();
                $('#demandereval').after( "<div class=\"alert alert-info\" role=\"alert\"><i class=\"far fa-spinner fa-spin\"></i> Demande en cours d'envoi. Veuillez patienter...</div>" );
                // Récupérer les données du formulaire
                var donnees = $('#demandereval').serialize();
                // console.log(donnees);
                $.post("{% url 'evaluation_incidence:ajaxn2keval_add' manif_pk=object.id %}", donnees).done(function (data) {
                    window.location.reload(true);
                });
            });
            $('.formeval').on('click', function (event) {
                event.preventDefault();
                if ($('#demandeeval_content').html() != "") {
                    $('#demandeeval_content').empty();
                    $('#demandeeval').addClass("d-none");
                } else {
                    // Charger le formulaire des demandes d'avis
                    $('#demandeeval_content').html("Chargement ... <i class=\"far fa-spinner fa-spin\">");
                    $('#demandeeval').removeClass("d-none").slideDown("slow");
                    $.get( "{% url 'evaluation_incidence:ajaxn2keval_add' manif_pk=object.id %}", function (data) {
                        $('#demandeeval_content').html(data);
                    });
                }
            });

        });
        let url_carto_update = "{% url 'evenements:manif_carto' pk=object.pk %}";

        $('.nav-link[href="#descriptioncarto"]').on('click', function (e) {

            $('#carto_update_div').empty();
            $('#carto_description_div').show();
        })

        $('body').on('click', '.carto_update', function (e) {
            e.preventDefault();
            $.get(url_carto_update, function (response) {
                $('#carto_update_div').html(response);
                $('#carto_description_div').hide();
            });
        });
        $('body').on('click', '#carto_annul', function (e) {
            e.preventDefault();
            $('#carto_update_div').empty();
            $('#carto_description_div').show();
        });
        // blocage des liens

        var export_lien_disabled = false

        $('.export_lien').click(function (e) {
            if (export_lien_disabled){
                e.preventDefault();
            }
            else {
                export_lien_disabled = true
                $('#export_lien_attente').show()
                setTimeout(function () {
                    export_lien_disabled = false
                    $('#export_lien_attente').hide()
                }, 20000)
            }
        })

    </script>

{% endblock %}
