/*

Vert principal : #9aa400
Vert plus foncé : #7d9100
Vert plus clair : #869200
Bleu : #015A70
Gris taupe : #857865

overides html tag
overides classes
custom classes
navbar
overrides bootstrap
BS switch
overrides Bootstrap 4 Ti-Ta-Toggle
footer
Div ctx-help
Tooltip
#accordion
#histoaccordion
tabs & nav-tabs
icone
#scrollToTop : retour haut de page
post-date
 */

@font-face {
    font-family:"Lato";
    src: url("/static/libs/font-lato/Lato-Regular.ttf") /* TTF file for CSS3 browsers */
}

/* bof html tag */
body {
    padding-top: 75px;
    padding-bottom: 120px;
    font-family: "Lato", "Open Sans", "Helvetica Neue";
}

body, .btn, .form-control {
    font-size: 0.85rem;
}

@media all and (max-width: 768px) {
    body {
    padding-bottom: 0;
    }
}

a {
    color: #015A70;
}

a li div:hover {
    box-shadow: 10px 5px 5px black;
}

a:not([href*='manifestationsportive.fr']):not([href^='#']):not([href^='/']):not([href^='javascript']):after {
    font-family: "Font Awesome 5 Pro";
    content: " \f08e";
    font-size: xx-small;
    vertical-align: super;
    font-weight: 300;
}

.h1, h1 {
    font-size: 19px;
    letter-spacing: 0.1em;
}

.h2, h2 {
    font-size: 17px;
}

.h3, h3 {
    font-size: 15px;
    margin-top: 20px;
}

.h1, .h2, .h3, h1, h2 {
    margin: 6px 0;
    color: #015a70;
}

p {
    word-wrap: break-word;
}

blockquote {
    font-size: 1rem;
    padding: 10px 20px;
    margin-left: 20px;
    border-left: 5px solid #eee;
}

legend {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    border-bottom: 1px solid #869200;
}

input[disabled=disabled] {
    cursor: not-allowed;
}

em {
    margin-right: 2px;
}

/* eof html tag */

/* bof overides classes */

ul.chosen-choices::before, input.ui-autocomplete-input::before {
    content: "▼";
    float: right;
    font-size: 18px;
    color: #aaaaaa;
    cursor: pointer;
}
ul.chosen-choices li.chosen-sync-icon {
    margin: 2px 8px 0 0px;
    color: #FFFFFF;
    background-color: #015A70;
    border-radius: 4px;
    padding: 2px 2px 2px 6px;
}

.chosen-mod .chosen-container-single, .chosen-mod .chosen-single {
    height: 100% !important;
}
.chosen-mod .chosen-single {
    line-height: 32px !important;
}
.chosen-mod .chosen-single div {
    top: 5px !important
}

.fa {
    margin-right: 5px;
}

.scroll-table {
    display: block;
    max-height: 600px;
    overflow-y: scroll;
}

.float-right + .float-right {
    margin-right: 10px;
}

#page-header {
    background-color: #fbfbfb;
    margin: 10px 0 20px;
    min-height: 0;
    padding: 4px 14px;
    border-color: #ddd;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom: 5px solid #ddd;
    border-left-width: 1px;
    border-radius: 4px 4px 0 0;
    color: #015a70;
    font-size: 1rem;
}
#page-header:empty {
         display: none;
}

#page-header .h1, #page-header h1 {
    margin: 6px 0;
    color: #015a70;
    background-color: #ffffff;
    padding: 6px;
    text-transform: inherit;
    font-weight: 500;
}

.resume {
    background-color: #015A70!important;
    margin: 10px 0 20px;
    min-height: 0;
    padding: 14px 14px;
    border-color: #ddd;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom: 5px solid #ddd;
    border-left-width: 1px;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
    font-size: 0.9rem;
}
.resume:empty {
         display: none;
}
.resume .declaration i, .resume .autorisation i {
    /* icone */
    color: #ffffff !important;
}
.resume .declaration .fa-layers-text, .resume .autorisation .fa-layers-text {
    color: #000000 !important;
}

.django-ckeditor-widget {
    width: 100%;
    padding-right: 8px;
}

.btn-lg {
   font-size: 1rem;
}

.badge-info i.deplier.text-white {
    font-size: 1.3em;
    line-height: 1.3em;
}

input[name$=clear] {
    margin-left: 35px;
}

/* eof overides classes */

/* bof custom classes */

.hover-cursor-zoom {
    border: 1px solid #dddddd;
}
.hover-cursor-zoom:hover {
    cursor: zoom-in;
    border-color: #9aa400;
    box-shadow: 0px 0px 12px #ddd;
}

.cursor-pointer {
    cursor: pointer;
}

.hover-dark:hover {
    background-color: #6c757d;
    color: #ffffff;
}

.table {
    background-color: #ffffff;
}

table#instruction-table > thead.filter > tr th:first-child {
    width: 140px;
}

table#instruction-table {
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}

thead.filter > tr > th {
    padding: unset;
}

thead.filter > tr > th > select {
    padding: unset;
}

.clickligne {
    cursor: pointer;
}

#demandeavis input, #demandeeval_content input{
    width: 100%;
}

#demandeavis form > .form-group {
    margin-bottom: 0;
}

.permalink {
    float: right;
    margin-top: -20px;
}

.background-contrast {
    background-color: #015A70;
    color: #ffffff;
}

.top-right {
    position: absolute;
    right: 5px;
    top: 11px;
}

.vertical-align {
    display: flex;
    align-items: center
}

.list-no-style {
    list-style-type: none;
     padding-left: 0px;
}

.attendre-archive {
    position: relative;
    z-index: 10;
    margin-left: 15px;
}

.attendre {
    position: relative;
    font-size: smaller;
    z-index: 5;
    height: 15px;
    width: 0px;
}

.hearder-notification {
    font-size: 16px;
}
.hearder-notification a {
    font-weight: 600;
}

.contenu-reserve {
    font-size: 13px;
    font-weight: normal;
    color: #015a70;
}

.liste-actions a[role="button"] {
    padding: 6px 0;
    display: inline-block;
}

.pseudo-light {
    font-size: x-small;
    color: #666666;
    font-style: italic;
}

/* eof custom classes */

/* bof navbar */


.navbar {
    background: #869200 linear-gradient(to right, #869200, #9aa400);
    border: unset;
}

.navbar-brand {
    padding-top: 2px;
    padding-bottom: 2px;
}

@media all and (max-width: 1200px) {
    .navbar-brand img {
        height: 35px;
        width: 130px;
    }
}

.navbar-inverse .navbar-nav > li > a {
    display: block;
    /*text-align: right;*/
    color: #fff;
    font-size: 1em;
    padding: 5px 20px;
    text-decoration: none;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #7d9100;
    padding: 12px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #7d9100;
}
/* eof navbar */

/* bof overrides bootstrap */

.bg-primary, .badge-primary {
    background-color: #015A70!important;
    color: #ffffff;
}

.btn-primary {
    color: #fff;
    background-color: #015A70;
    border-color: #015A70;
}
.btn-outline-primary {
    color: #015A70;
    background-color: #ffffff;
    border-color: #015A70;
}
.btn-outline-primary:hover {
    color: #ffffff;
    background-color: #015A70;
}

ul.error {
    padding-left: 0;
}

ul.error li {
    list-style: none;
    color: #cf1030;
}

.btn-action {
    float: right;
    min-width: 10em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.btn-fill {
    width: 100%;
}

.card-heading {
    line-height: 1.5em;
}

.card-heading a.btn {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5em;
}

.card-header h4 {
    font-size: 1.2rem;
}

.alert>p, .alert>ul {
    margin-bottom: 0;
}

h1 .btn-sm {
    padding-bottom: 0;
    padding-top: 0;
    letter-spacing: 0;
}

.table-hover tbody tr:hover {
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
}

/* eof overrides bootstrap */


/* bof BS switch */

.checkbox label {
    padding-left: 0;
}

.bootstrap-switch {
    margin-right: 14px;
}

/* eof BS switch */

/* bof overrides Bootstrap 4 Ti-Ta-Toggle */
/* en lien avec templates/bootstrap4/field.html */

.checkbox-slider--a input:checked + span::after {
    content: "Oui";
    background-color: #9aa400;
    line-height: 18px;
}
.checkbox-slider--a input + span::after {
    content: "Non";
    line-height: 18px;
}
.checkbox-slider--a input + span::after, .checkbox-slider--a input + span::before {
    border-radius: .25rem;
}
.form-check-label:not('.offset_remove') {
    width: 150%;
}

/* eof overrides Bootstrap 4 Ti-Ta-Toggle */

/* bof footer */

footer {
    background-color: #9aa400;
    bottom: 0;
    color: white;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

@media all and (max-width: 768px) {
    footer {
        position: relative;
    }
}

footer > .container > h2 {
}

footer a {
    color: #ffffff;
    font-weight: 600;
}

#footer-info {
    color: #FFFFFF;
    font-size: 0.8em;
    padding: 4px;
    text-transform: uppercase;
}

#footer-info a:hover {
    color: #015A70;
}

.summary {
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    padding: 6px 0 0;
    letter-spacing: 0em;
}
.pipe_separator {
    margin: 0 10px;
}
/* eof footer */

/* bof Div ctx-help */
div[class*="ctx-help"] {
    background-color: white;
    box-shadow: 10px 5px 10px #aeb3b9;
    padding: 0.5em 1.5em 0.1em;
    margin-bottom: 20px;
}

div[class*="mesures"][class*="ctx-help"] {
    background-color: #ffeeba;
}
/* eof Div ctx-help */

/* bof Tooltip */
i[class^="ctx-help-"] {
    color: #9AA400;
    cursor: pointer;
    padding-left: 6px;
}

.tooltip-inner {
    color: #ffffff;
    background-color: #015A70;
    font-family: "Lato", "Open Sans", "Helvetica Neue";
    font-size: 0.85rem;
    text-align: left;
    max-width: 400px;
    white-space: normal;
    padding: 10px;
    line-height: 1.2;
    border: 1px solid #FFFFFF;
    box-shadow: 4px 4px 10px #626262;
}
.tooltip.in, .tooltip.show {
  opacity: 1;
}

.tooltip-inner a {
    color: #ffffff;
    text-decoration: underline;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #303030; /* #015A70;*/
}
.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
    border-left-color: #303030; /* #015A70;*/
}
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #303030; /* #015A70;*/
}
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
    border-right-color: #303030; /* #015A70;*/
}

/* eof Tooltip  */


/* bof #accordion */

div[id^="accordion"] i.fa-plus {
    color: #9aa400;
}

div[id^="accordion"] .panel {
    border: unset;
    background-color: unset;
    box-shadow: unset;
}
div[id^="accordion"] .panel-default > .card-header:hover {
    border: #959F00;
    background-color: unset;
}
div[id^="accordion"] .panel-group .panel {
    border-radius: 0;
}
div[id^="accordion"] .panel-default > .card-header {
    background-color: unset;
    border-color: unset;
}
div[id^="accordion"] .panel-title {
    font-size: 0.9rem;
    font-weight: 600;
}
div[id^="accordion"] .panel-default > .panel-header + .card-collapse > .panel-body {
    border-top: unset;
    border-left:  1px solid #9aa400;
}
div[id^="accordion"] .panel-header {
    padding: 5px;
}

div[id^="accordion"] .panel-body {
    padding: 6px 0 0 10px;
    margin-left: 39px;
    border-left: 1px dotted #9aa400;
}

div[id^="accordion"] .card {
    width: 100%;
    /*border: 1px solid #007bff;*/
    margin-bottom: 15px;
}

div[id^="accordion"] .card p {
    font-size: 14px;
}

/* eof #accordion */

/* bof #histoaccordion */

div[id^="histoaccordion"] .card-body {
    padding: unset;
}

/* eof #histoaccordion */


/* bof tabs & nav-tabs */

.nav-tabs {
    padding: 4px 4px 0;
    background-color: #e9ecef;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.nav-tabs > li > a, .nav-tabs > li > a:focus, .nav-tabs > li > a:hover {
    border: 1px solid #ddd;
}
.nav-tabs > li > a:hover {
 background-color: #ffffff;
}
/* tabs tableau de bord */
.nav-pills {
    padding: 4px 4px 0;
    background-color: #e9ecef;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #99A300;
    border-color: transparent transparent #015A70;
    font-weight: bold;
}

.nav-pills .nav-link.active:hover, .nav-pills .show>.nav-link:hover {
    color: #ffffff;
    background-color: #99A300;
}

/* tabs tableau de bord organisateur */
.nav-tabs .nav-link.active, .nav-tabs .show>.nav-link {
    color: #ffffff;
    background-color: #99A300;
    border-color: transparent transparent #015A70;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent transparent #015A70;
}

/* tabs aide accordion */
.nav-tabs > li > a.active, .nav-tabs > li > a.active:focus, .nav-tabs > li > a.active:hover {
    color: #ffffff;
    background-color: #99A300;
}

.tab-list {
    margin-bottom: 8px;
}

.nav > li > a {
    padding: 6px 10px;
}
.nav-tabs > li > a {
    margin-right: 8px;
    border-radius: unset;
}

.nav .nav-item a {
    border-radius: .25rem .25rem 0 0;
    margin-right: .25rem;
    border-left: 1px solid #015A70;
    border-top: 1px solid #015A70;
    border-right: 1px solid #015A70;
}
.nav .nav-item:hover a {
    background-color: #6c757d;
    color: #ffffff;
}

.tab-content {
    padding: 6px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    background-color: white;
}

#authorization.tab-pane, #declaration.tab-pane, #event.tab-pane, #additionaldata.tab-pane, #rnr.tab-pane, #natura2000.tab-pane, #descriptioncarto.tab-pane {

    background: none;
    border: none;
}

.help-page .h1, .help-page h1 {
    margin: 6px 0;
    color: #fefefe;
    background-color: #015a70;
    padding: 6px;
    text-transform: uppercase;
    font-weight: 600;
}
.help-page .h2, .help-page h2 {
    margin: 6px 0;
    color: #015a70;
    background-color: #c1d8dd;
    padding: 6px;
}
.help-page h2.title-note, .help-page .h2.title-note {
    background-color: #d6e217;
}

.help-page .h3, .help-page h3 {
    font-weight: 600;
    color: #015a70;
    border-bottom: 1px solid #c1d8dd;
}

h2 .badge {
    font-weight: unset;
}
h2 .badge-light {
    color: unset;
}

/* eof tabs & nav-tabs */

/* bof icone */

.badge.icone {
    font-size: 100%;
    margin: 2px 0;
    font-weight: 300;
}

.badge.icone.badge-light {
    border: 1px solid #cacaca;
}

.icone-small {
    font-size: 70%;
}

.iconex2 {
    font-size: large;
}

i {
    margin-right: 5px;
}
i.left-margin {
    margin-left: 5px;
}
i.no-right-margin {
    margin-right: 0;
}

span.label.label-success.top-right i.fa-check {
    margin-right: 2px;
}

.declaration.fa-layers .fa-layers-text, .autorisation.fa-layers .fa-layers-text {
    font-weight: bold;
    transform: translate(-2.00em);
    display: inline-block;
    font-size: 0.75em;
    margin-right: -1.3em;
}

i.demandee.text-warning.text-info {  /* conflit entre 2 classes bootsrap : le bleu est souhaité */
    color: #17a2b8!important;
}

/* eof icone */

/* bof #scrollToTop : retour haut de page */

#scrollToTop {
    position: fixed;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
    display: none;
}

#scrollToTop a {
    font-size: 60px;
    color: white;
    outline: none;
}

#scrollToTop a:hover {
    text-decoration: none;
}

/* eof retour haut de page */


/* bof post-date (nouveauté) */

.post-date {
    background-color: #303030;
    color: white;
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5em;
    width: 5.5em;
    line-height: 1.25em;
    border-radius: 0.5em;
    padding: 0.5em;
}

.post-date-day {
    display: block;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}

.post-date-month {
    font-weight: normal;
    font-variant: small-caps;
    display: block;
    text-align: center;
}

.post-date-year {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    display: block;
}

/* bof post-date */


/* bof todo : à trier */

.authorizations-requested .list-group-item {
    padding-right: 90px;
}

.fixed-table-body {
    background-color: white;
}




/* eof à trier */


/*
#authorization.card>.list-group, #declaration.card>.list-group, #event.card>.list-group, #additionaldata.card>.list-group, #authorization.card-default>.card-heading, #declaration.card-default>.card-heading, #event.card-default>.card-heading, #additionaldata.card-default>.card-heading {
    border: 1px solid #ddd;
}
*/

.special_fieldset legend {
    font-size: 1rem;
    border-bottom: none;
    text-decoration: underline;
}

.hearder-notification {
    margin-top: 12px;
}

.breadcrumb li {
    margin-right: 0.5em;
    margin-bottom: 0.2em;
}

.breadcrumb>li>.btn{
    min-height: 50.4px;
}
.breadcrumb>li>.btn-success{
    background-color: #9aa400;
    border-color: #8e9900;
}
.breadcrumb>li>.btn-danger{
    background-color: #dc3545;
}
.breadcrumb>li>.instruction{
    background-color: #015A70;
}


input[type="search"]  {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.blink {
  animation: animationFramesBlink linear 2s infinite;
  transform-origin: 50% 50%;
}

@keyframes animationFramesBlink{
  0% {
    color: #FFFFFF ;
  }
  15% {
    color: #FFC107 ;
  }
  30% {
    color: #dc3545 ;
  }
  45% {
    color: #FFC107 ;
  }
  60% {
    color: #FFFFFF ;
  }
  75% {
    color: #FFC107 ;
  }
  100% {
    color: #FFFFFF ;
  }
}

