<table class="table table-sm table-striped" data-toggle="table" id="action-table">
    <thead>
        <tr>
            <th data-field="date" data-sortable="true" data-sorter="dateSorter">Date</th>
            <th data-sortable="true">Service / structure</th>
            <th data-sortable="true">Agent / utilisateur</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for action in object_list %}
            <tr>
                <td>{{ action.creation_date.date|date:"d/m/Y" }}</td>
                <td>{{ action.user.get_service }}</td>
                <td>{{ action.user.get_full_name }}</td>
                <td>{{ action.action }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4" class="text-center">Aucune action sur les dossiers en cours</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
