{% load i18n %}

<h3>
    <i class="action"></i> Actions {% if user.instructeur %} Instructeur {% endif %}
</h3>
<div class="scroll-table">
    <table class="table table-sm table-striped " data-toggle="table" id="action-table">
        <thead>
            <tr>
                <th data-field="date" data-sortable="true" data-sorter="dateSorter">Date</th>
                <th data-field="file" data-sortable="true">Dossier</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for declaration in object_list %}
                {% if declaration.manifestation %}
                    {% for action in declaration.manifestation.actions.last_first %}
                        <tr>
                            <td>{{ action.creation_date.date|date:"d/m/Y" }}</td>
                            <td>{{ action.manifestation }}</td>
                            <td>{{ action.action }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for action in declaration.manif.actions.last_first %}
                        <tr>
                            <td>{{ action.creation_date.date|date:"d/m/Y" }}</td>
                            <td>{{ action.manif }}</td>
                            <td>{{ action.action }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% empty %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>Aucune action sur les dossiers en cours</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>