{% load i18n %}

<div id="histoaccordion">
    <div class="card bg-light">
        <div class="card-header" id="headinghisto1">
            <div class="clickligne" data-toggle="collapse" data-target="#collapsehisto1" aria-expanded="false" aria-controls="collapsehisto1">
                <strong>
                    <i class="action"></i> Actions {% if user.instructeur %} Instructeur {% endif %} <i class="ctx-help-actions_notifications_list fas fa-info-circle"></i>
                </strong>
            </div>
        </div>
        <div id="collapsehisto1" class="collapse" aria-labelledby="headinghisto1"
             data-parent="#histoaccordion">
            <div class="card-body histo-actions">
            </div>
        </div>
        <div class="card-header" id="headinghisto2">
            <div class="clickligne" data-toggle="collapse" data-target="#collapsehisto2" aria-expanded="false" aria-controls="collapsehisto2">
                <strong>
                    <i class="historique"></i> Notifications <i class="ctx-help-actions_notifications_list fas fa-info-circle"></i>
                </strong>
            </div>
        </div>
        <div id="collapsehisto2" class="collapse" aria-labelledby="headinghisto2"
             data-parent="#histoaccordion">
            <div class="card-body histo-notifications">
            </div>
        </div>
    </div>
</div>
