{% load i18n %}

<h3>
    {% if user.instructeur %}
        <i class="dossier"></i> Dossiers organisateurs
    {% else %}
        <i class="historique"></i> Notifications
    {% endif %}  <i class="ctx-help-actions_notifications_list fas fa-info-circle"></i>
</h3>
<div class="scroll-table">
    <table class="table table-sm table-striped" data-toggle="table" id="notification-table">
        <thead>
            <tr>
                <th data-field="date" data-sortable="true" data-sorter="dateSorter">Date</th>
                <th data-field="file" data-sortable="true">Dossier</th>
                <th>Expéditeur</th>
                <th>Objet</th>
            </tr>
        </thead>
        <tbody>
            {% for notification in user.notifications.in_processing.last_first %}
                <tr>
                    <td>{{ notification.creation_date.date|date:"d/m/Y" }}</td>
                    <td>{% if notification.manifestation %}{{ notification.manifestation }}{% else %}{{ notification.manif }}{% endif %}</td>
                    <td>{{ notification.content_object|default_if_none:"--" }}</td>
                    <td>{{ notification.subject|safe }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Aucune notification sur les dossiers en cours</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>