{% load i18n %}

<h3>
    {% if user.instructeur %}
        <i class="dossier"></i> Dossiers organisateurs
    {% else %}
        <i class="historique"></i>Notifications
    {% endif %}
</h3>
<div class="scroll-table">
    <table class="table table-sm table-striped " data-toggle="table" id="notification-table">
        <thead>
            <tr>
                <th data-field="date" data-sortable="true" data-sorter="dateSorter">Date</th>
                <th data-field="file" data-sortable="true">Dossier</th>
                <th>Expéditeur</th>
                <th>Objet</th>
            </tr>
        </thead>
        <tbody>
            {% for declaration in object_list %}
                {% if declaration.manifestation %}
                    {% for notification in declaration.manifestation.notifications.last_first %}
                        <tr>
                            <td>{{ notification.creation_date.date|date:"d/m/Y" }}</td>
                            <td>{{ notification.manifestation }}</td>
                            <td>{{ notification.content_object|default_if_none:"--" }}</td>
                            <td>{{ notification.subject|safe }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for notification in declaration.manif.notifications.last_first %}
                        <tr>
                            <td>{{ notification.creation_date.date|date:"d/m/Y" }}</td>
                            <td>{{ notification.manif }}</td>
                            <td>{{ notification.content_object|default_if_none:"--" }}</td>
                            <td>{{ notification.subject|safe }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% empty %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Aucune notification sur les dossiers en cours</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>